.table-button {
    width: 60px;
    border-radius: 5px !important;
}

.my-table {
    border: solid 1px #bbb;
}

.my-table>tbody>tr>td {
    vertical-align: middle !important;
}

.my-table>thead>tr>th {
    padding: 20px 8px !important;
}

.my-div1 {
    padding: 15px 5px;
}

.my-div1 > label {
    width: 100%;
    font-weight: bold;
}

.my-div2 {
    padding: 10px 5px;
}

.my-div2 > label {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.my-div2 > span {
    font-size: 16px;
}

.my-div3 {
    padding: 10px 0px;
}

.my-div3 > label {
    margin-top: 7px;
}

.my-div4 {
    padding: 10px 5px;
}

.my-div4 > label {
    font-size: 18px;
}

.my-div4 > span {
    font-size: 16px;
}

.tabbable-line > .nav-tabs > .active > a {
    border: none !important;
}

.my-switch1 > div.bootstrap-switch-wrapper {
    width: 100px !important;
}

.my-switch1 > div.bootstrap-switch-wrapper > div.bootstrap-switch-container > span.bootstrap-switch-label {
    width: 20px !important;
}

.img-input {
    display: none !important;
}

.img-view {
    margin-bottom: 10px; height: 100px; width: 100px; border: solid #aaa; cursor: pointer;
}

.img-pic {
    height: 80px;
    width: 80px;
}

.img-gallery {
    height: auto;
    width: 100%;
}

.button-remove-gallery {
    margin-top: -57px; margin-left: 5px;
}