@font-face {
	font-family: 'Brand-Icons';
	src:
	  url('../fonts/Brand-Icons.ttf?blcw31') format('truetype'),
	  url('../fonts/Brand-Icons.woff?blcw31') format('woff'),
	  url('../fonts/Brand-Icons.svg?blcw31#Brand-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-brand-"], [class*=" icon-brand-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Brand-Icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-brand-px:before {
	content: "\e900";
  }
  .icon-brand-accessible-icon:before {
	content: "\e901";
  }
  .icon-brand-accusoft:before {
	content: "\e902";
  }
  .icon-brand-adn:before {
	content: "\e903";
  }
  .icon-brand-adversal:before {
	content: "\e904";
  }
  .icon-brand-affiliatetheme:before {
	content: "\e905";
  }
  .icon-brand-algolia:before {
	content: "\e906";
  }
  .icon-brand-amazon:before {
	content: "\e907";
  }
  .icon-brand-amazon-pay:before {
	content: "\e908";
  }
  .icon-brand-amilia:before {
	content: "\e909";
  }
  .icon-brand-android:before {
	content: "\e90a";
  }
  .icon-brand-angellist:before {
	content: "\e90b";
  }
  .icon-brand-angrycreative:before {
	content: "\e90c";
  }
  .icon-brand-angular:before {
	content: "\e90d";
  }
  .icon-brand-apper:before {
	content: "\e90e";
  }
  .icon-brand-apple:before {
	content: "\e90f";
  }
  .icon-brand-apple-pay:before {
	content: "\e910";
  }
  .icon-brand-app-store:before {
	content: "\e911";
  }
  .icon-brand-app-store-ios:before {
	content: "\e912";
  }
  .icon-brand-asymmetrik:before {
	content: "\e913";
  }
  .icon-brand-audible:before {
	content: "\e914";
  }
  .icon-brand-autoprefixer:before {
	content: "\e915";
  }
  .icon-brand-avianex:before {
	content: "\e916";
  }
  .icon-brand-aviato:before {
	content: "\e917";
  }
  .icon-brand-aws:before {
	content: "\e918";
  }
  .icon-brand-bandcamp:before {
	content: "\e919";
  }
  .icon-brand-behance:before {
	content: "\e91a";
  }
  .icon-brand-behance-square:before {
	content: "\e91b";
  }
  .icon-brand-bimobject:before {
	content: "\e91c";
  }
  .icon-brand-bitbucket:before {
	content: "\e91d";
  }
  .icon-brand-bitcoin:before {
	content: "\e91e";
  }
  .icon-brand-bity:before {
	content: "\e91f";
  }
  .icon-brand-blackberry:before {
	content: "\e920";
  }
  .icon-brand-black-tie:before {
	content: "\e921";
  }
  .icon-brand-blogger:before {
	content: "\e922";
  }
  .icon-brand-blogger-b:before {
	content: "\e923";
  }
  .icon-brand-bluetooth:before {
	content: "\e924";
  }
  .icon-brand-bluetooth-b:before {
	content: "\e925";
  }
  .icon-brand-btc:before {
	content: "\e926";
  }
  .icon-brand-buromobelexperte:before {
	content: "\e927";
  }
  .icon-brand-buysellads:before {
	content: "\e928";
  }
  .icon-brand-cc-amazon-pay:before {
	content: "\e929";
  }
  .icon-brand-cc-amex:before {
	content: "\e92a";
  }
  .icon-brand-cc-apple-pay:before {
	content: "\e92b";
  }
  .icon-brand-cc-diners-club:before {
	content: "\e92c";
  }
  .icon-brand-cc-discover:before {
	content: "\e92d";
  }
  .icon-brand-cc-jcb:before {
	content: "\e92e";
  }
  .icon-brand-cc-mastercard:before {
	content: "\e92f";
  }
  .icon-brand-cc-paypal:before {
	content: "\e930";
  }
  .icon-brand-cc-stripe:before {
	content: "\e931";
  }
  .icon-brand-cc-visa:before {
	content: "\e932";
  }
  .icon-brand-centercode:before {
	content: "\e933";
  }
  .icon-brand-chrome:before {
	content: "\e934";
  }
  .icon-brand-cloudscale:before {
	content: "\e935";
  }
  .icon-brand-cloudsmith:before {
	content: "\e936";
  }
  .icon-brand-cloudversify:before {
	content: "\e937";
  }
  .icon-brand-codepen:before {
	content: "\e938";
  }
  .icon-brand-codiepie:before {
	content: "\e939";
  }
  .icon-brand-connectdevelop:before {
	content: "\e93a";
  }
  .icon-brand-contao:before {
	content: "\e93b";
  }
  .icon-brand-cpanel:before {
	content: "\e93c";
  }
  .icon-brand-creative-commons:before {
	content: "\e93d";
  }
  .icon-brand-creative-commons-by:before {
	content: "\e93e";
  }
  .icon-brand-creative-commons-nc:before {
	content: "\e93f";
  }
  .icon-brand-creative-commons-nc-eu:before {
	content: "\e940";
  }
  .icon-brand-creative-commons-nc-jp:before {
	content: "\e941";
  }
  .icon-brand-creative-commons-nd:before {
	content: "\e942";
  }
  .icon-brand-creative-commons-pd:before {
	content: "\e943";
  }
  .icon-brand-creative-commons-pd-alt:before {
	content: "\e944";
  }
  .icon-brand-creative-commons-remix:before {
	content: "\e945";
  }
  .icon-brand-creative-commons-sa:before {
	content: "\e946";
  }
  .icon-brand-creative-commons-sampling:before {
	content: "\e947";
  }
  .icon-brand-creative-commons-sampling-plus:before {
	content: "\e948";
  }
  .icon-brand-creative-commons-share:before {
	content: "\e949";
  }
  .icon-brand-css3:before {
	content: "\e94a";
  }
  .icon-brand-css3-alt:before {
	content: "\e94b";
  }
  .icon-brand-cuttlefish:before {
	content: "\e94c";
  }
  .icon-brand-d-and-d:before {
	content: "\e94d";
  }
  .icon-brand-dashcube:before {
	content: "\e94e";
  }
  .icon-brand-delicious:before {
	content: "\e94f";
  }
  .icon-brand-deploydog:before {
	content: "\e950";
  }
  .icon-brand-deskpro:before {
	content: "\e951";
  }
  .icon-brand-deviantart:before {
	content: "\e952";
  }
  .icon-brand-digg:before {
	content: "\e953";
  }
  .icon-brand-digital-ocean:before {
	content: "\e954";
  }
  .icon-brand-discord:before {
	content: "\e955";
  }
  .icon-brand-discourse:before {
	content: "\e956";
  }
  .icon-brand-dochub:before {
	content: "\e957";
  }
  .icon-brand-docker:before {
	content: "\e958";
  }
  .icon-brand-draft2digital:before {
	content: "\e959";
  }
  .icon-brand-dribbble:before {
	content: "\e95a";
  }
  .icon-brand-dribbble-square:before {
	content: "\e95b";
  }
  .icon-brand-dropbox:before {
	content: "\e95c";
  }
  .icon-brand-drupal:before {
	content: "\e95d";
  }
  .icon-brand-dyalog:before {
	content: "\e95e";
  }
  .icon-brand-earlybirds:before {
	content: "\e95f";
  }
  .icon-brand-ebay:before {
	content: "\e960";
  }
  .icon-brand-edge:before {
	content: "\e961";
  }
  .icon-brand-elementor:before {
	content: "\e962";
  }
  .icon-brand-ember:before {
	content: "\e963";
  }
  .icon-brand-empire:before {
	content: "\e964";
  }
  .icon-brand-envira:before {
	content: "\e965";
  }
  .icon-brand-erlang:before {
	content: "\e966";
  }
  .icon-brand-ethereum:before {
	content: "\e967";
  }
  .icon-brand-etsy:before {
	content: "\e968";
  }
  .icon-brand-expeditedssl:before {
	content: "\e969";
  }
  .icon-brand-facebook:before {
	content: "\e96a";
  }
  .icon-brand-facebook-f:before {
	content: "\e96b";
  }
  .icon-brand-facebook-messenger:before {
	content: "\e96c";
  }
  .icon-brand-facebook-square:before {
	content: "\e96d";
  }
  .icon-brand-firefox:before {
	content: "\e96e";
  }
  .icon-brand-firstdraft:before {
	content: "\e96f";
  }
  .icon-brand-first-order:before {
	content: "\e970";
  }
  .icon-brand-first-order-alt:before {
	content: "\e971";
  }
  .icon-brand-flickr:before {
	content: "\e972";
  }
  .icon-brand-flipboard:before {
	content: "\e973";
  }
  .icon-brand-fly:before {
	content: "\e974";
  }
  .icon-brand-font-awesome:before {
	content: "\e975";
  }
  .icon-brand-font-awesome-alt:before {
	content: "\e976";
  }
  .icon-brand-font-awesome-flag:before {
	content: "\e977";
  }
  .icon-brand-fonticons:before {
	content: "\e978";
  }
  .icon-brand-fonticons-fi:before {
	content: "\e979";
  }
  .icon-brand-fort-awesome:before {
	content: "\e97a";
  }
  .icon-brand-fort-awesome-alt:before {
	content: "\e97b";
  }
  .icon-brand-forumbee:before {
	content: "\e97c";
  }
  .icon-brand-foursquare:before {
	content: "\e97d";
  }
  .icon-brand-freebsd:before {
	content: "\e97e";
  }
  .icon-brand-free-code-camp:before {
	content: "\e97f";
  }
  .icon-brand-fulcrum:before {
	content: "\e980";
  }
  .icon-brand-galactic-republic:before {
	content: "\e981";
  }
  .icon-brand-galactic-senate:before {
	content: "\e982";
  }
  .icon-brand-get-pocket:before {
	content: "\e983";
  }
  .icon-brand-gg:before {
	content: "\e984";
  }
  .icon-brand-gg-circle:before {
	content: "\e985";
  }
  .icon-brand-git:before {
	content: "\e986";
  }
  .icon-brand-github:before {
	content: "\e987";
  }
  .icon-brand-github-alt:before {
	content: "\e988";
  }
  .icon-brand-github-square:before {
	content: "\e989";
  }
  .icon-brand-gitkraken:before {
	content: "\e98a";
  }
  .icon-brand-gitlab:before {
	content: "\e98b";
  }
  .icon-brand-git-square:before {
	content: "\e98c";
  }
  .icon-brand-gitter:before {
	content: "\e98d";
  }
  .icon-brand-glide:before {
	content: "\e98e";
  }
  .icon-brand-glide-g:before {
	content: "\e98f";
  }
  .icon-brand-gofore:before {
	content: "\e990";
  }
  .icon-brand-goodreads:before {
	content: "\e991";
  }
  .icon-brand-goodreads-g:before {
	content: "\e992";
  }
  .icon-brand-google:before {
	content: "\e993";
  }
  .icon-brand-google-drive:before {
	content: "\e994";
  }
  .icon-brand-google-play:before {
	content: "\e995";
  }
  .icon-brand-google-plus:before {
	content: "\e996";
  }
  .icon-brand-google-plus-g:before {
	content: "\e997";
  }
  .icon-brand-google-plus-square:before {
	content: "\e998";
  }
  .icon-brand-google-wallet:before {
	content: "\e999";
  }
  .icon-brand-gratipay:before {
	content: "\e99a";
  }
  .icon-brand-grav:before {
	content: "\e99b";
  }
  .icon-brand-gripfire:before {
	content: "\e99c";
  }
  .icon-brand-grunt:before {
	content: "\e99d";
  }
  .icon-brand-gulp:before {
	content: "\e99e";
  }
  .icon-brand-hacker-news:before {
	content: "\e99f";
  }
  .icon-brand-hacker-news-square:before {
	content: "\e9a0";
  }
  .icon-brand-hips:before {
	content: "\e9a1";
  }
  .icon-brand-hire-a-helper:before {
	content: "\e9a2";
  }
  .icon-brand-hooli:before {
	content: "\e9a3";
  }
  .icon-brand-hotjar:before {
	content: "\e9a4";
  }
  .icon-brand-houzz:before {
	content: "\e9a5";
  }
  .icon-brand-html5:before {
	content: "\e9a6";
  }
  .icon-brand-hubspot:before {
	content: "\e9a7";
  }
  .icon-brand-imdb:before {
	content: "\e9a8";
  }
  .icon-brand-instagram:before {
	content: "\e9a9";
  }
  .icon-brand-internet-explorer:before {
	content: "\e9aa";
  }
  .icon-brand-ioxhost:before {
	content: "\e9ab";
  }
  .icon-brand-itunes:before {
	content: "\e9ac";
  }
  .icon-brand-itunes-note:before {
	content: "\e9ad";
  }
  .icon-brand-java:before {
	content: "\e9ae";
  }
  .icon-brand-jedi-order:before {
	content: "\e9af";
  }
  .icon-brand-jenkins:before {
	content: "\e9b0";
  }
  .icon-brand-joget:before {
	content: "\e9b1";
  }
  .icon-brand-joomla:before {
	content: "\e9b2";
  }
  .icon-brand-js:before {
	content: "\e9b3";
  }
  .icon-brand-jsfiddle:before {
	content: "\e9b4";
  }
  .icon-brand-js-square:before {
	content: "\e9b5";
  }
  .icon-brand-keybase:before {
	content: "\e9b6";
  }
  .icon-brand-keycdn:before {
	content: "\e9b7";
  }
  .icon-brand-kickstarter:before {
	content: "\e9b8";
  }
  .icon-brand-kickstarter-k:before {
	content: "\e9b9";
  }
  .icon-brand-korvue:before {
	content: "\e9ba";
  }
  .icon-brand-laravel:before {
	content: "\e9bb";
  }
  .icon-brand-lastfm:before {
	content: "\e9bc";
  }
  .icon-brand-lastfm-square:before {
	content: "\e9bd";
  }
  .icon-brand-leanpub:before {
	content: "\e9be";
  }
  .icon-brand-less:before {
	content: "\e9bf";
  }
  .icon-brand-line:before {
	content: "\e9c0";
  }
  .icon-brand-linkedin:before {
	content: "\e9c1";
  }
  .icon-brand-linkedin-in:before {
	content: "\e9c2";
  }
  .icon-brand-linode:before {
	content: "\e9c3";
  }
  .icon-brand-linux:before {
	content: "\e9c4";
  }
  .icon-brand-lyft:before {
	content: "\e9c5";
  }
  .icon-brand-magento:before {
	content: "\e9c6";
  }
  .icon-brand-mandalorian:before {
	content: "\e9c7";
  }
  .icon-brand-mastodon:before {
	content: "\e9c8";
  }
  .icon-brand-maxcdn:before {
	content: "\e9c9";
  }
  .icon-brand-medapps:before {
	content: "\e9ca";
  }
  .icon-brand-medium:before {
	content: "\e9cb";
  }
  .icon-brand-medium-m:before {
	content: "\e9cc";
  }
  .icon-brand-medrt:before {
	content: "\e9cd";
  }
  .icon-brand-meetup:before {
	content: "\e9ce";
  }
  .icon-brand-microsoft:before {
	content: "\e9cf";
  }
  .icon-brand-mix:before {
	content: "\e9d0";
  }
  .icon-brand-mixcloud:before {
	content: "\e9d1";
  }
  .icon-brand-mizuni:before {
	content: "\e9d2";
  }
  .icon-brand-modx:before {
	content: "\e9d3";
  }
  .icon-brand-monero:before {
	content: "\e9d4";
  }
  .icon-brand-napster:before {
	content: "\e9d5";
  }
  .icon-brand-nintendo-switch:before {
	content: "\e9d6";
  }
  .icon-brand-node:before {
	content: "\e9d7";
  }
  .icon-brand-node-js:before {
	content: "\e9d8";
  }
  .icon-brand-npm:before {
	content: "\e9d9";
  }
  .icon-brand-ns8:before {
	content: "\e9da";
  }
  .icon-brand-nutritionix:before {
	content: "\e9db";
  }
  .icon-brand-odnoklassniki:before {
	content: "\e9dc";
  }
  .icon-brand-odnoklassniki-square:before {
	content: "\e9dd";
  }
  .icon-brand-old-republic:before {
	content: "\e9de";
  }
  .icon-brand-opencart:before {
	content: "\e9df";
  }
  .icon-brand-openid:before {
	content: "\e9e0";
  }
  .icon-brand-opera:before {
	content: "\e9e1";
  }
  .icon-brand-optin-monster:before {
	content: "\e9e2";
  }
  .icon-brand-osi:before {
	content: "\e9e3";
  }
  .icon-brand-page4:before {
	content: "\e9e4";
  }
  .icon-brand-pagelines:before {
	content: "\e9e5";
  }
  .icon-brand-palfed:before {
	content: "\e9e6";
  }
  .icon-brand-patreon:before {
	content: "\e9e7";
  }
  .icon-brand-paypal:before {
	content: "\e9e8";
  }
  .icon-brand-periscope:before {
	content: "\e9e9";
  }
  .icon-brand-phabricator:before {
	content: "\e9ea";
  }
  .icon-brand-phoenix-framework:before {
	content: "\e9eb";
  }
  .icon-brand-phoenix-squadron:before {
	content: "\e9ec";
  }
  .icon-brand-php:before {
	content: "\e9ed";
  }
  .icon-brand-pied-piper:before {
	content: "\e9ee";
  }
  .icon-brand-pied-piper-alt:before {
	content: "\e9ef";
  }
  .icon-brand-pied-piper-hat:before {
	content: "\e9f0";
  }
  .icon-brand-pied-piper-pp:before {
	content: "\e9f1";
  }
  .icon-brand-pinterest:before {
	content: "\e9f2";
  }
  .icon-brand-pinterest-p:before {
	content: "\e9f3";
  }
  .icon-brand-pinterest-square:before {
	content: "\e9f4";
  }
  .icon-brand-playstation:before {
	content: "\e9f5";
  }
  .icon-brand-product-hunt:before {
	content: "\e9f6";
  }
  .icon-brand-pushed:before {
	content: "\e9f7";
  }
  .icon-brand-python:before {
	content: "\e9f8";
  }
  .icon-brand-qq:before {
	content: "\e9f9";
  }
  .icon-brand-quinscape:before {
	content: "\e9fa";
  }
  .icon-brand-quora:before {
	content: "\e9fb";
  }
  .icon-brand-ravelry:before {
	content: "\e9fc";
  }
  .icon-brand-react:before {
	content: "\e9fd";
  }
  .icon-brand-readme:before {
	content: "\e9fe";
  }
  .icon-brand-rebel:before {
	content: "\e9ff";
  }
  .icon-brand-reddit:before {
	content: "\ea00";
  }
  .icon-brand-reddit-alien:before {
	content: "\ea01";
  }
  .icon-brand-reddit-square:before {
	content: "\ea02";
  }
  .icon-brand-red-river:before {
	content: "\ea03";
  }
  .icon-brand-rendact:before {
	content: "\ea04";
  }
  .icon-brand-renren:before {
	content: "\ea05";
  }
  .icon-brand-replyd:before {
	content: "\ea06";
  }
  .icon-brand-researchgate:before {
	content: "\ea07";
  }
  .icon-brand-resolving:before {
	content: "\ea08";
  }
  .icon-brand-rocketchat:before {
	content: "\ea09";
  }
  .icon-brand-rockrms:before {
	content: "\ea0a";
  }
  .icon-brand-r-project:before {
	content: "\ea0b";
  }
  .icon-brand-safari:before {
	content: "\ea0c";
  }
  .icon-brand-sass:before {
	content: "\ea0d";
  }
  .icon-brand-schlix:before {
	content: "\ea0e";
  }
  .icon-brand-scribd:before {
	content: "\ea0f";
  }
  .icon-brand-searchengin:before {
	content: "\ea10";
  }
  .icon-brand-sellcast:before {
	content: "\ea11";
  }
  .icon-brand-sellsy:before {
	content: "\ea12";
  }
  .icon-brand-servicestack:before {
	content: "\ea13";
  }
  .icon-brand-shirtsinbulk:before {
	content: "\ea14";
  }
  .icon-brand-simplybuilt:before {
	content: "\ea15";
  }
  .icon-brand-sistrix:before {
	content: "\ea16";
  }
  .icon-brand-sith:before {
	content: "\ea17";
  }
  .icon-brand-skyatlas:before {
	content: "\ea18";
  }
  .icon-brand-skype:before {
	content: "\ea19";
  }
  .icon-brand-slack:before {
	content: "\ea1a";
  }
  .icon-brand-slack-hash:before {
	content: "\ea1b";
  }
  .icon-brand-slideshare:before {
	content: "\ea1c";
  }
  .icon-brand-snapchat:before {
	content: "\ea1d";
  }
  .icon-brand-snapchat-ghost:before {
	content: "\ea1e";
  }
  .icon-brand-snapchat-square:before {
	content: "\ea1f";
  }
  .icon-brand-soundcloud:before {
	content: "\ea20";
  }
  .icon-brand-speakap:before {
	content: "\ea21";
  }
  .icon-brand-spotify:before {
	content: "\ea22";
  }
  .icon-brand-stack-exchange:before {
	content: "\ea23";
  }
  .icon-brand-stack-overflow:before {
	content: "\ea24";
  }
  .icon-brand-staylinked:before {
	content: "\ea25";
  }
  .icon-brand-steam:before {
	content: "\ea26";
  }
  .icon-brand-steam-square:before {
	content: "\ea27";
  }
  .icon-brand-steam-symbol:before {
	content: "\ea28";
  }
  .icon-brand-sticker-mule:before {
	content: "\ea29";
  }
  .icon-brand-strava:before {
	content: "\ea2a";
  }
  .icon-brand-stripe:before {
	content: "\ea2b";
  }
  .icon-brand-stripe-s:before {
	content: "\ea2c";
  }
  .icon-brand-studiovinari:before {
	content: "\ea2d";
  }
  .icon-brand-stumbleupon:before {
	content: "\ea2e";
  }
  .icon-brand-stumbleupon-circle:before {
	content: "\ea2f";
  }
  .icon-brand-superpowers:before {
	content: "\ea30";
  }
  .icon-brand-supple:before {
	content: "\ea31";
  }
  .icon-brand-teamspeak:before {
	content: "\ea32";
  }
  .icon-brand-telegram:before {
	content: "\ea33";
  }
  .icon-brand-telegram-plane:before {
	content: "\ea34";
  }
  .icon-brand-tencent-weibo:before {
	content: "\ea35";
  }
  .icon-brand-themeisle:before {
	content: "\ea36";
  }
  .icon-brand-trade-federation:before {
	content: "\ea37";
  }
  .icon-brand-trello:before {
	content: "\ea38";
  }
  .icon-brand-tripadvisor:before {
	content: "\ea39";
  }
  .icon-brand-tumblr:before {
	content: "\ea3a";
  }
  .icon-brand-tumblr-square:before {
	content: "\ea3b";
  }
  .icon-brand-twitch:before {
	content: "\ea3c";
  }
  .icon-brand-twitter:before {
	content: "\ea3d";
  }
  .icon-brand-twitter-square:before {
	content: "\ea3e";
  }
  .icon-brand-typo3:before {
	content: "\ea3f";
  }
  .icon-brand-uber:before {
	content: "\ea40";
  }
  .icon-brand-uikit:before {
	content: "\ea41";
  }
  .icon-brand-uniregistry:before {
	content: "\ea42";
  }
  .icon-brand-untappd:before {
	content: "\ea43";
  }
  .icon-brand-usb:before {
	content: "\ea44";
  }
  .icon-brand-ussunnah:before {
	content: "\ea45";
  }
  .icon-brand-vaadin:before {
	content: "\ea46";
  }
  .icon-brand-viacoin:before {
	content: "\ea47";
  }
  .icon-brand-viadeo:before {
	content: "\ea48";
  }
  .icon-brand-viadeo-square:before {
	content: "\ea49";
  }
  .icon-brand-viber:before {
	content: "\ea4a";
  }
  .icon-brand-vimeo:before {
	content: "\ea4b";
  }
  .icon-brand-vimeo-square:before {
	content: "\ea4c";
  }
  .icon-brand-vimeo-v:before {
	content: "\ea4d";
  }
  .icon-brand-vine:before {
	content: "\ea4e";
  }
  .icon-brand-vk:before {
	content: "\ea4f";
  }
  .icon-brand-vnv:before {
	content: "\ea50";
  }
  .icon-brand-vuejs:before {
	content: "\ea51";
  }
  .icon-brand-weibo:before {
	content: "\ea52";
  }
  .icon-brand-weixin:before {
	content: "\ea53";
  }
  .icon-brand-whatsapp:before {
	content: "\ea54";
  }
  .icon-brand-whatsapp-square:before {
	content: "\ea55";
  }
  .icon-brand-whmcs:before {
	content: "\ea56";
  }
  .icon-brand-wikipedia-w:before {
	content: "\ea57";
  }
  .icon-brand-windows:before {
	content: "\ea58";
  }
  .icon-brand-wolf-pack-battalion:before {
	content: "\ea59";
  }
  .icon-brand-wordpress:before {
	content: "\ea5a";
  }
  .icon-brand-wordpress-simple:before {
	content: "\ea5b";
  }
  .icon-brand-wpbeginner:before {
	content: "\ea5c";
  }
  .icon-brand-wpexplorer:before {
	content: "\ea5d";
  }
  .icon-brand-wpforms:before {
	content: "\ea5e";
  }
  .icon-brand-xbox:before {
	content: "\ea5f";
  }
  .icon-brand-xing:before {
	content: "\ea60";
  }
  .icon-brand-xing-square:before {
	content: "\ea61";
  }
  .icon-brand-yahoo:before {
	content: "\ea62";
  }
  .icon-brand-yandex:before {
	content: "\ea63";
  }
  .icon-brand-yandex-international:before {
	content: "\ea64";
  }
  .icon-brand-y-combinator:before {
	content: "\ea65";
  }
  .icon-brand-yelp:before {
	content: "\ea66";
  }
  .icon-brand-yoast:before {
	content: "\ea67";
  }
  .icon-brand-youtube:before {
	content: "\ea68";
  }
  .icon-brand-youtube-square:before {
	content: "\ea69";
  }
  
  
  /*!
   * Feather Icons (https://feathericons.com/)
   * Licensed under MIT
   */
  @font-face {
	font-family: 'Feather-Icons';
	src:
	  url('../fonts/Feather-Icons.ttf?7ncawf') format('truetype'),
	  url('../fonts/Feather-Icons.woff?7ncawf') format('woff'),
	  url('../fonts/Feather-Icons.svg?7ncawf#Feather-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-feather-"], [class*=" icon-feather-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Feather-Icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-feather-activity:before {
	content: "\e900";
  }
  .icon-feather-airplay:before {
	content: "\e901";
  }
  .icon-feather-alert-circle:before {
	content: "\e902";
  }
  .icon-feather-alert-octagon:before {
	content: "\e903";
  }
  .icon-feather-alert-triangle:before {
	content: "\e904";
  }
  .icon-feather-align-center:before {
	content: "\e905";
  }
  .icon-feather-align-justify:before {
	content: "\e906";
  }
  .icon-feather-align-left:before {
	content: "\e907";
  }
  .icon-feather-align-right:before {
	content: "\e908";
  }
  .icon-feather-anchor:before {
	content: "\e909";
  }
  .icon-feather-aperture:before {
	content: "\e90a";
  }
  .icon-feather-archive:before {
	content: "\e90b";
  }
  .icon-feather-arrow-down:before {
	content: "\e90c";
  }
  .icon-feather-arrow-down-circle:before {
	content: "\e90d";
  }
  .icon-feather-arrow-down-left:before {
	content: "\e90e";
  }
  .icon-feather-arrow-down-right:before {
	content: "\e90f";
  }
  .icon-feather-arrow-left:before {
	content: "\e910";
  }
  .icon-feather-arrow-left-circle:before {
	content: "\e911";
  }
  .icon-feather-arrow-right:before {
	content: "\e912";
  }
  .icon-feather-arrow-right-circle:before {
	content: "\e913";
  }
  .icon-feather-arrow-up:before {
	content: "\e914";
  }
  .icon-feather-arrow-up-circle:before {
	content: "\e915";
  }
  .icon-feather-arrow-up-left:before {
	content: "\e916";
  }
  .icon-feather-arrow-up-right:before {
	content: "\e917";
  }
  .icon-feather-at-sign:before {
	content: "\e918";
  }
  .icon-feather-award:before {
	content: "\e919";
  }
  .icon-feather-bar-chart:before {
	content: "\e91a";
  }
  .icon-feather-bar-chart-2:before {
	content: "\e91b";
  }
  .icon-feather-battery:before {
	content: "\e91c";
  }
  .icon-feather-battery-charging:before {
	content: "\e91d";
  }
  .icon-feather-bell:before {
	content: "\e91e";
  }
  .icon-feather-bell-off:before {
	content: "\e91f";
  }
  .icon-feather-bluetooth:before {
	content: "\e920";
  }
  .icon-feather-bold:before {
	content: "\e921";
  }
  .icon-feather-book:before {
	content: "\e922";
  }
  .icon-feather-book-open:before {
	content: "\e923";
  }
  .icon-feather-bookmark:before {
	content: "\e924";
  }
  .icon-feather-box:before {
	content: "\e925";
  }
  .icon-feather-briefcase:before {
	content: "\e926";
  }
  .icon-feather-calendar:before {
	content: "\e927";
  }
  .icon-feather-camera:before {
	content: "\e928";
  }
  .icon-feather-camera-off:before {
	content: "\e929";
  }
  .icon-feather-cast:before {
	content: "\e92a";
  }
  .icon-feather-check:before {
	content: "\e92b";
  }
  .icon-feather-check-circle:before {
	content: "\e92c";
  }
  .icon-feather-check-square:before {
	content: "\e92d";
  }
  .icon-feather-chevron-down:before {
	content: "\e92e";
  }
  .icon-feather-chevron-left:before {
	content: "\e92f";
  }
  .icon-feather-chevron-right:before {
	content: "\e930";
  }
  .icon-feather-chevron-up:before {
	content: "\e931";
  }
  .icon-feather-chevrons-down:before {
	content: "\e932";
  }
  .icon-feather-chevrons-left:before {
	content: "\e933";
  }
  .icon-feather-chevrons-right:before {
	content: "\e934";
  }
  .icon-feather-chevrons-up:before {
	content: "\e935";
  }
  .icon-feather-chrome:before {
	content: "\e936";
  }
  .icon-feather-circle:before {
	content: "\e937";
  }
  .icon-feather-clipboard:before {
	content: "\e938";
  }
  .icon-feather-clock:before {
	content: "\e939";
  }
  .icon-feather-cloud:before {
	content: "\e93a";
  }
  .icon-feather-cloud-drizzle:before {
	content: "\e93b";
  }
  .icon-feather-cloud-lightning:before {
	content: "\e93c";
  }
  .icon-feather-cloud-off:before {
	content: "\e93d";
  }
  .icon-feather-cloud-rain:before {
	content: "\e93e";
  }
  .icon-feather-cloud-snow:before {
	content: "\e93f";
  }
  .icon-feather-code:before {
	content: "\e940";
  }
  .icon-feather-codepen:before {
	content: "\e941";
  }
  .icon-feather-command:before {
	content: "\e942";
  }
  .icon-feather-compass:before {
	content: "\e943";
  }
  .icon-feather-copy:before {
	content: "\e944";
  }
  .icon-feather-corner-down-left:before {
	content: "\e945";
  }
  .icon-feather-corner-down-right:before {
	content: "\e946";
  }
  .icon-feather-corner-left-down:before {
	content: "\e947";
  }
  .icon-feather-corner-left-up:before {
	content: "\e948";
  }
  .icon-feather-corner-right-down:before {
	content: "\e949";
  }
  .icon-feather-corner-right-up:before {
	content: "\e94a";
  }
  .icon-feather-corner-up-left:before {
	content: "\e94b";
  }
  .icon-feather-corner-up-right:before {
	content: "\e94c";
  }
  .icon-feather-cpu:before {
	content: "\e94d";
  }
  .icon-feather-credit-card:before {
	content: "\e94e";
  }
  .icon-feather-crop:before {
	content: "\e94f";
  }
  .icon-feather-crosshair:before {
	content: "\e950";
  }
  .icon-feather-database:before {
	content: "\e951";
  }
  .icon-feather-delete:before {
	content: "\e952";
  }
  .icon-feather-disc:before {
	content: "\e953";
  }
  .icon-feather-dollar-sign:before {
	content: "\e954";
  }
  .icon-feather-download:before {
	content: "\e955";
  }
  .icon-feather-download-cloud:before {
	content: "\e956";
  }
  .icon-feather-droplet:before {
	content: "\e957";
  }
  .icon-feather-edit:before {
	content: "\e958";
  }
  .icon-feather-edit-2:before {
	content: "\e959";
  }
  .icon-feather-edit-3:before {
	content: "\e95a";
  }
  .icon-feather-external-link:before {
	content: "\e95b";
  }
  .icon-feather-eye:before {
	content: "\e95c";
  }
  .icon-feather-eye-off:before {
	content: "\e95d";
  }
  .icon-feather-facebook:before {
	content: "\e95e";
  }
  .icon-feather-fast-forward:before {
	content: "\e95f";
  }
  .icon-feather-feather:before {
	content: "\e960";
  }
  .icon-feather-file:before {
	content: "\e961";
  }
  .icon-feather-file-minus:before {
	content: "\e962";
  }
  .icon-feather-file-plus:before {
	content: "\e963";
  }
  .icon-feather-file-text:before {
	content: "\e964";
  }
  .icon-feather-film:before {
	content: "\e965";
  }
  .icon-feather-filter:before {
	content: "\e966";
  }
  .icon-feather-flag:before {
	content: "\e967";
  }
  .icon-feather-folder:before {
	content: "\e968";
  }
  .icon-feather-folder-minus:before {
	content: "\e969";
  }
  .icon-feather-folder-plus:before {
	content: "\e96a";
  }
  .icon-feather-gift:before {
	content: "\e96b";
  }
  .icon-feather-git-branch:before {
	content: "\e96c";
  }
  .icon-feather-git-commit:before {
	content: "\e96d";
  }
  .icon-feather-git-merge:before {
	content: "\e96e";
  }
  .icon-feather-git-pull-request:before {
	content: "\e96f";
  }
  .icon-feather-github:before {
	content: "\e970";
  }
  .icon-feather-gitlab:before {
	content: "\e971";
  }
  .icon-feather-globe:before {
	content: "\e972";
  }
  .icon-feather-grid:before {
	content: "\e973";
  }
  .icon-feather-hard-drive:before {
	content: "\e974";
  }
  .icon-feather-hash:before {
	content: "\e975";
  }
  .icon-feather-headphones:before {
	content: "\e976";
  }
  .icon-feather-heart:before {
	content: "\e977";
  }
  .icon-feather-help-circle:before {
	content: "\e978";
  }
  .icon-feather-home:before {
	content: "\e979";
  }
  .icon-feather-image:before {
	content: "\e97a";
  }
  .icon-feather-inbox:before {
	content: "\e97b";
  }
  .icon-feather-info:before {
	content: "\e97c";
  }
  .icon-feather-instagram:before {
	content: "\e97d";
  }
  .icon-feather-italic:before {
	content: "\e97e";
  }
  .icon-feather-layers:before {
	content: "\e97f";
  }
  .icon-feather-layout:before {
	content: "\e980";
  }
  .icon-feather-life-buoy:before {
	content: "\e981";
  }
  .icon-feather-link:before {
	content: "\e982";
  }
  .icon-feather-link-2:before {
	content: "\e983";
  }
  .icon-feather-linkedin:before {
	content: "\e984";
  }
  .icon-feather-list:before {
	content: "\e985";
  }
  .icon-feather-loader:before {
	content: "\e986";
  }
  .icon-feather-lock:before {
	content: "\e987";
  }
  .icon-feather-log-in:before {
	content: "\e988";
  }
  .icon-feather-log-out:before {
	content: "\e989";
  }
  .icon-feather-mail:before {
	content: "\e98a";
  }
  .icon-feather-map:before {
	content: "\e98b";
  }
  .icon-feather-map-pin:before {
	content: "\e98c";
  }
  .icon-feather-maximize:before {
	content: "\e98d";
  }
  .icon-feather-maximize-2:before {
	content: "\e98e";
  }
  .icon-feather-menu:before {
	content: "\e98f";
  }
  .icon-feather-message-circle:before {
	content: "\e990";
  }
  .icon-feather-message-square:before {
	content: "\e991";
  }
  .icon-feather-mic:before {
	content: "\e992";
  }
  .icon-feather-mic-off:before {
	content: "\e993";
  }
  .icon-feather-minimize:before {
	content: "\e994";
  }
  .icon-feather-minimize-2:before {
	content: "\e995";
  }
  .icon-feather-minus:before {
	content: "\e996";
  }
  .icon-feather-minus-circle:before {
	content: "\e997";
  }
  .icon-feather-minus-square:before {
	content: "\e998";
  }
  .icon-feather-monitor:before {
	content: "\e999";
  }
  .icon-feather-moon:before {
	content: "\e99a";
  }
  .icon-feather-more-horizontal:before {
	content: "\e99b";
  }
  .icon-feather-more-vertical:before {
	content: "\e99c";
  }
  .icon-feather-move:before {
	content: "\e99d";
  }
  .icon-feather-music:before {
	content: "\e99e";
  }
  .icon-feather-navigation:before {
	content: "\e99f";
  }
  .icon-feather-navigation-2:before {
	content: "\e9a0";
  }
  .icon-feather-octagon:before {
	content: "\e9a1";
  }
  .icon-feather-package:before {
	content: "\e9a2";
  }
  .icon-feather-paperclip:before {
	content: "\e9a3";
  }
  .icon-feather-pause:before {
	content: "\e9a4";
  }
  .icon-feather-pause-circle:before {
	content: "\e9a5";
  }
  .icon-feather-percent:before {
	content: "\e9a6";
  }
  .icon-feather-phone:before {
	content: "\e9a7";
  }
  .icon-feather-phone-call:before {
	content: "\e9a8";
  }
  .icon-feather-phone-forwarded:before {
	content: "\e9a9";
  }
  .icon-feather-phone-incoming:before {
	content: "\e9aa";
  }
  .icon-feather-phone-missed:before {
	content: "\e9ab";
  }
  .icon-feather-phone-off:before {
	content: "\e9ac";
  }
  .icon-feather-phone-outgoing:before {
	content: "\e9ad";
  }
  .icon-feather-pie-chart:before {
	content: "\e9ae";
  }
  .icon-feather-play:before {
	content: "\e9af";
  }
  .icon-feather-play-circle:before {
	content: "\e9b0";
  }
  .icon-feather-plus:before {
	content: "\e9b1";
  }
  .icon-feather-plus-circle:before {
	content: "\e9b2";
  }
  .icon-feather-plus-square:before {
	content: "\e9b3";
  }
  .icon-feather-pocket:before {
	content: "\e9b4";
  }
  .icon-feather-power:before {
	content: "\e9b5";
  }
  .icon-feather-printer:before {
	content: "\e9b6";
  }
  .icon-feather-radio:before {
	content: "\e9b7";
  }
  .icon-feather-refresh-ccw:before {
	content: "\e9b8";
  }
  .icon-feather-refresh-cw:before {
	content: "\e9b9";
  }
  .icon-feather-repeat:before {
	content: "\e9ba";
  }
  .icon-feather-rewind:before {
	content: "\e9bb";
  }
  .icon-feather-rotate-ccw:before {
	content: "\e9bc";
  }
  .icon-feather-rotate-cw:before {
	content: "\e9bd";
  }
  .icon-feather-rss:before {
	content: "\e9be";
  }
  .icon-feather-save:before {
	content: "\e9bf";
  }
  .icon-feather-scissors:before {
	content: "\e9c0";
  }
  .icon-feather-search:before {
	content: "\e9c1";
  }
  .icon-feather-send:before {
	content: "\e9c2";
  }
  .icon-feather-server:before {
	content: "\e9c3";
  }
  .icon-feather-settings:before {
	content: "\e9c4";
  }
  .icon-feather-share:before {
	content: "\e9c5";
  }
  .icon-feather-share-2:before {
	content: "\e9c6";
  }
  .icon-feather-shield:before {
	content: "\e9c7";
  }
  .icon-feather-shield-off:before {
	content: "\e9c8";
  }
  .icon-feather-shopping-bag:before {
	content: "\e9c9";
  }
  .icon-feather-shopping-cart:before {
	content: "\e9ca";
  }
  .icon-feather-shuffle:before {
	content: "\e9cb";
  }
  .icon-feather-sidebar:before {
	content: "\e9cc";
  }
  .icon-feather-skip-back:before {
	content: "\e9cd";
  }
  .icon-feather-skip-forward:before {
	content: "\e9ce";
  }
  .icon-feather-slack:before {
	content: "\e9cf";
  }
  .icon-feather-slash:before {
	content: "\e9d0";
  }
  .icon-feather-sliders:before {
	content: "\e9d1";
  }
  .icon-feather-smartphone:before {
	content: "\e9d2";
  }
  .icon-feather-speaker:before {
	content: "\e9d3";
  }
  .icon-feather-square:before {
	content: "\e9d4";
  }
  .icon-feather-star:before {
	content: "\e9d5";
  }
  .icon-feather-stop-circle:before {
	content: "\e9d6";
  }
  .icon-feather-sun:before {
	content: "\e9d7";
  }
  .icon-feather-sunrise:before {
	content: "\e9d8";
  }
  .icon-feather-sunset:before {
	content: "\e9d9";
  }
  .icon-feather-tablet:before {
	content: "\e9da";
  }
  .icon-feather-tag:before {
	content: "\e9db";
  }
  .icon-feather-target:before {
	content: "\e9dc";
  }
  .icon-feather-terminal:before {
	content: "\e9dd";
  }
  .icon-feather-thermometer:before {
	content: "\e9de";
  }
  .icon-feather-thumbs-down:before {
	content: "\e9df";
  }
  .icon-feather-thumbs-up:before {
	content: "\e9e0";
  }
  .icon-feather-toggle-left:before {
	content: "\e9e1";
  }
  .icon-feather-toggle-right:before {
	content: "\e9e2";
  }
  .icon-feather-trash:before {
	content: "\e9e3";
  }
  .icon-feather-trash-2:before {
	content: "\e9e4";
  }
  .icon-feather-trending-down:before {
	content: "\e9e5";
  }
  .icon-feather-trending-up:before {
	content: "\e9e6";
  }
  .icon-feather-triangle:before {
	content: "\e9e7";
  }
  .icon-feather-truck:before {
	content: "\e9e8";
  }
  .icon-feather-tv:before {
	content: "\e9e9";
  }
  .icon-feather-twitter:before {
	content: "\e9ea";
  }
  .icon-feather-type:before {
	content: "\e9eb";
  }
  .icon-feather-umbrella:before {
	content: "\e9ec";
  }
  .icon-feather-underline:before {
	content: "\e9ed";
  }
  .icon-feather-unlock:before {
	content: "\e9ee";
  }
  .icon-feather-upload:before {
	content: "\e9ef";
  }
  .icon-feather-upload-cloud:before {
	content: "\e9f0";
  }
  .icon-feather-user:before {
	content: "\e9f1";
  }
  .icon-feather-user-check:before {
	content: "\e9f2";
  }
  .icon-feather-user-minus:before {
	content: "\e9f3";
  }
  .icon-feather-user-plus:before {
	content: "\e9f4";
  }
  .icon-feather-user-x:before {
	content: "\e9f5";
  }
  .icon-feather-users:before {
	content: "\e9f6";
  }
  .icon-feather-video:before {
	content: "\e9f7";
  }
  .icon-feather-video-off:before {
	content: "\e9f8";
  }
  .icon-feather-voicemail:before {
	content: "\e9f9";
  }
  .icon-feather-volume:before {
	content: "\e9fa";
  }
  .icon-feather-volume-1:before {
	content: "\e9fb";
  }
  .icon-feather-volume-2:before {
	content: "\e9fc";
  }
  .icon-feather-volume-x:before {
	content: "\e9fd";
  }
  .icon-feather-watch:before {
	content: "\e9fe";
  }
  .icon-feather-wifi:before {
	content: "\e9ff";
  }
  .icon-feather-wifi-off:before {
	content: "\ea00";
  }
  .icon-feather-wind:before {
	content: "\ea01";
  }
  .icon-feather-x:before {
	content: "\ea02";
  }
  .icon-feather-x-circle:before {
	content: "\ea03";
  }
  .icon-feather-x-square:before {
	content: "\ea04";
  }
  .icon-feather-youtube:before {
	content: "\ea05";
  }
  .icon-feather-zap:before {
	content: "\ea06";
  }
  .icon-feather-zap-off:before {
	content: "\ea07";
  }
  .icon-feather-zoom-in:before {
	content: "\ea08";
  }
  .icon-feather-zoom-out:before {
	content: "\ea09";
  }
  
  
  /*!
   * Material Icons (https://material.io/tools/icons/)
   * Apache license version 2.0
   */
  
  @font-face {
	font-family: 'Material-Icons';
	src:
	  url('../fonts/Material-Icons.ttf?e8u1sb') format('truetype'),
	  url('../fonts/Material-Icons.woff?e8u1sb') format('woff'),
	  url('../fonts/Material-Icons.svg?e8u1sb#Material-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-material-"], [class*=" icon-material-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Material-Icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-material-outline-dashboard:before {
	content: "\e997";
  }
  .icon-material-outline-arrow-back:before {
	content: "\e993";
  }
  .icon-material-outline-arrow-forward:before {
	content: "\e994";
  }
  .icon-material-outline-arrow-right-alt:before {
	content: "\e995";
  }
  .icon-material-outline-gavel:before {
	content: "\e996";
  }
  .icon-material-baseline-mail-outline:before {
	content: "\e900";
  }
  .icon-material-baseline-notifications-none:before {
	content: "\e901";
  }
  .icon-material-baseline-star-border:before {
	content: "\e902";
  }
  .icon-material-outline-access-alarm:before {
	content: "\e903";
  }
  .icon-material-outline-access-time:before {
	content: "\e904";
  }
  .icon-material-outline-account-balance-wallet:before {
	content: "\e905";
  }
  .icon-material-outline-account-balance:before {
	content: "\e906";
  }
  .icon-material-outline-account-circle:before {
	content: "\e907";
  }
  .icon-material-outline-add-a-photo:before {
	content: "\e908";
  }
  .icon-material-outline-add-circle-outline:before {
	content: "\e909";
  }
  .icon-material-outline-add-location:before {
	content: "\e90a";
  }
  .icon-material-outline-add-photo-alternate:before {
	content: "\e90b";
  }
  .icon-material-outline-add-shopping-cart:before {
	content: "\e90c";
  }
  .icon-material-outline-add:before {
	content: "\e90d";
  }
  .icon-material-outline-alarm-add:before {
	content: "\e90e";
  }
  .icon-material-outline-alarm-off:before {
	content: "\e90f";
  }
  .icon-material-outline-alarm-on:before {
	content: "\e910";
  }
  .icon-material-outline-alarm:before {
	content: "\e911";
  }
  .icon-material-outline-announcement:before {
	content: "\e912";
  }
  .icon-material-outline-archive:before {
	content: "\e913";
  }
  .icon-material-outline-arrow-drop-down:before {
	content: "\e914";
  }
  .icon-material-outline-arrow-drop-up:before {
	content: "\e915";
  }
  .icon-material-outline-arrow-left:before {
	content: "\e916";
  }
  .icon-material-outline-arrow-right:before {
	content: "\e917";
  }
  .icon-material-outline-assessment:before {
	content: "\e918";
  }
  .icon-material-outline-assignment:before {
	content: "\e919";
  }
  .icon-material-outline-attach-file:before {
	content: "\e91a";
  }
  .icon-material-outline-autorenew:before {
	content: "\e91b";
  }
  .icon-material-outline-battery-charging-full:before {
	content: "\e91c";
  }
  .icon-material-outline-beach-access:before {
	content: "\e91d";
  }
  .icon-material-outline-book:before {
	content: "\e91e";
  }
  .icon-material-outline-bookmark-border:before {
	content: "\e91f";
  }
  .icon-material-outline-bookmarks:before {
	content: "\e920";
  }
  .icon-material-outline-broken-image:before {
	content: "\e921";
  }
  .icon-material-outline-brush:before {
	content: "\e922";
  }
  .icon-material-outline-bug-report:before {
	content: "\e923";
  }
  .icon-material-outline-business-center:before {
	content: "\e924";
  }
  .icon-material-outline-business:before {
	content: "\e925";
  }
  .icon-material-outline-cake:before {
	content: "\e926";
  }
  .icon-material-outline-check-circle:before {
	content: "\e927";
  }
  .icon-material-outline-check:before {
	content: "\e928";
  }
  .icon-material-outline-cloud:before {
	content: "\e929";
  }
  .icon-material-outline-code:before {
	content: "\e92a";
  }
  .icon-material-outline-compare-arrows:before {
	content: "\e92b";
  }
  .icon-material-outline-computer:before {
	content: "\e92c";
  }
  .icon-material-outline-contact-support:before {
	content: "\e92d";
  }
  .icon-material-outline-credit-card:before {
	content: "\e92e";
  }
  .icon-material-outline-crop-original:before {
	content: "\e92f";
  }
  .icon-material-outline-date-range:before {
	content: "\e930";
  }
  .icon-material-outline-delete:before {
	content: "\e931";
  }
  .icon-material-outline-description:before {
	content: "\e932";
  }
  .icon-material-outline-desktop-mac:before {
	content: "\e933";
  }
  .icon-material-outline-desktop-windows:before {
	content: "\e934";
  }
  .icon-material-outline-directions-car:before {
	content: "\e935";
  }
  .icon-material-outline-dns:before {
	content: "\e936";
  }
  .icon-material-outline-drafts:before {
	content: "\e937";
  }
  .icon-material-outline-email:before {
	content: "\e938";
  }
  .icon-material-outline-explore:before {
	content: "\e939";
  }
  .icon-material-outline-extension:before {
	content: "\e93a";
  }
  .icon-material-outline-face:before {
	content: "\e93b";
  }
  .icon-material-outline-favorite-border:before {
	content: "\e93c";
  }
  .icon-material-outline-favorite:before {
	content: "\e93d";
  }
  .icon-material-outline-feedback:before {
	content: "\e93e";
  }
  .icon-material-outline-file-copy:before {
	content: "\e93f";
  }
  .icon-material-outline-filter-none:before {
	content: "\e940";
  }
  .icon-material-outline-find-in-page:before {
	content: "\e941";
  }
  .icon-material-outline-fingerprint:before {
	content: "\e942";
  }
  .icon-material-outline-flight:before {
	content: "\e943";
  }
  .icon-material-outline-flip-to-back:before {
	content: "\e944";
  }
  .icon-material-outline-flip-to-front:before {
	content: "\e945";
  }
  .icon-material-outline-folder-shared:before {
	content: "\e946";
  }
  .icon-material-outline-folder:before {
	content: "\e947";
  }
  .icon-material-outline-format-quote:before {
	content: "\e948";
  }
  .icon-material-outline-format-shapes:before {
	content: "\e949";
  }
  .icon-material-outline-forum:before {
	content: "\e94a";
  }
  .icon-material-outline-free-breakfast:before {
	content: "\e94b";
  }
  .icon-material-outline-gps-fixed:before {
	content: "\e94c";
  }
  .icon-material-outline-group:before {
	content: "\e94d";
  }
  .icon-material-outline-help-outline:before {
	content: "\e94e";
  }
  .icon-material-outline-highlight-off:before {
	content: "\e94f";
  }
  .icon-material-outline-history:before {
	content: "\e950";
  }
  .icon-material-outline-home:before {
	content: "\e951";
  }
  .icon-material-outline-hotel:before {
	content: "\e952";
  }
  .icon-material-outline-https:before {
	content: "\e953";
  }
  .icon-material-outline-info:before {
	content: "\e954";
  }
  .icon-material-outline-input:before {
	content: "\e955";
  }
  .icon-material-outline-insert-photo:before {
	content: "\e956";
  }
  .icon-material-outline-keyboard-arrow-down:before {
	content: "\e957";
  }
  .icon-material-outline-keyboard-arrow-left:before {
	content: "\e958";
  }
  .icon-material-outline-keyboard-arrow-right:before {
	content: "\e959";
  }
  .icon-material-outline-keyboard-arrow-up:before {
	content: "\e95a";
  }
  .icon-material-outline-language:before {
	content: "\e95b";
  }
  .icon-material-outline-launch:before {
	content: "\e95c";
  }
  .icon-material-outline-layers:before {
	content: "\e95d";
  }
  .icon-material-outline-library-add:before {
	content: "\e95e";
  }
  .icon-material-outline-library-books:before {
	content: "\e95f";
  }
  .icon-material-outline-local-atm:before {
	content: "\e960";
  }
  .icon-material-outline-local-offer:before {
	content: "\e961";
  }
  .icon-material-outline-location-city:before {
	content: "\e962";
  }
  .icon-material-outline-location-off:before {
	content: "\e963";
  }
  .icon-material-outline-location-on:before {
	content: "\e964";
  }
  .icon-material-outline-lock-open:before {
	content: "\e965";
  }
  .icon-material-outline-lock:before {
	content: "\e966";
  }
  .icon-material-outline-loyalty:before {
	content: "\e967";
  }
  .icon-material-outline-map:before {
	content: "\e968";
  }
  .icon-material-outline-message-1:before {
	content: "\e969";
  }
  .icon-material-outline-monetization-on:before {
	content: "\e96a";
  }
  .icon-material-outline-money:before {
	content: "\e96b";
  }
  .icon-material-outline-mouse:before {
	content: "\e96c";
  }
  .icon-material-outline-movie:before {
	content: "\e96d";
  }
  .icon-material-outline-my-location:before {
	content: "\e96e";
  }
  .icon-material-outline-note-add:before {
	content: "\e96f";
  }
  .icon-material-outline-notifications-active:before {
	content: "\e970";
  }
  .icon-material-outline-notifications-off:before {
	content: "\e971";
  }
  .icon-material-outline-notifications:before {
	content: "\e972";
  }
  .icon-material-outline-outlined-flag:before {
	content: "\e973";
  }
  .icon-material-outline-person-pin:before {
	content: "\e974";
  }
  .icon-material-outline-photo-library:before {
	content: "\e975";
  }
  .icon-material-outline-photo-size-select-actual:before {
	content: "\e976";
  }
  .icon-material-outline-picture-as-pdf:before {
	content: "\e977";
  }
  .icon-material-outline-power-settings-new:before {
	content: "\e978";
  }
  .icon-material-outline-print:before {
	content: "\e979";
  }
  .icon-material-outline-question-answer:before {
	content: "\e97a";
  }
  .icon-material-outline-rate-review:before {
	content: "\e97b";
  }
  .icon-material-outline-redo:before {
	content: "\e97c";
  }
  .icon-material-outline-reorder:before {
	content: "\e97d";
  }
  .icon-material-outline-restaurant:before {
	content: "\e97e";
  }
  .icon-material-outline-room:before {
	content: "\e97f";
  }
  .icon-material-outline-save-alt:before {
	content: "\e980";
  }
  .icon-material-outline-school:before {
	content: "\e981";
  }
  .icon-material-outline-search:before {
	content: "\e982";
  }
  .icon-material-outline-settings-input-component:before {
	content: "\e983";
  }
  .icon-material-outline-settings:before {
	content: "\e984";
  }
  .icon-material-outline-shopping-cart:before {
	content: "\e985";
  }
  .icon-material-outline-speaker-notes:before {
	content: "\e986";
  }
  .icon-material-outline-star-border:before {
	content: "\e987";
  }
  .icon-material-outline-star:before {
	content: "\e988";
  }
  .icon-material-outline-supervisor-account:before {
	content: "\e989";
  }
  .icon-material-outline-text-fields:before {
	content: "\e98a";
  }
  .icon-material-outline-textsms:before {
	content: "\e98b";
  }
  .icon-material-outline-thumb-down:before {
	content: "\e98c";
  }
  .icon-material-outline-thumb-up:before {
	content: "\e98d";
  }
  .icon-material-outline-undo:before {
	content: "\e98e";
  }
  .icon-material-outline-visibility:before {
	content: "\e98f";
  }
  .icon-material-outline-watch:before {
	content: "\e990";
  }
  .icon-material-outline-wb-incandescent:before {
	content: "\e991";
  }
  .icon-material-outline-where-to-vote:before {
	content: "\e992";
  }
  
  
  /*!
   *  Line Awesome 1.1.0 by @icons_8 - https://icons8.com/line-awesome
   *  License - https://icons8.com/good-boy-license/ (Font: SIL OFL 1.1, CSS: MIT License)
   *
   * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
   *
   * Contacts:
   *    [ https://icons8.com/contact ]
   *
   * Follow Icon8 on
   *    Twitter [ https://twitter.com/icons_8 ]
   *    Facebook [ https://www.facebook.com/Icons8 ]
   *    Google+ [ https://plus.google.com/+Icons8 ]
   *    GitHub [ https://github.com/icons8 ]
   */
  
  @font-face {
	font-family: 'Line-Awesome';
	src:
	  url('../fonts/Line-Awesome.ttf?15lwq9') format('truetype'),
	  url('../fonts/Line-Awesome.woff?15lwq9') format('woff'),
	  url('../fonts/Line-Awesome.svg?15lwq9#Line-Awesome') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-line-awesome-"], [class*=" icon-line-awesome-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Line-Awesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-line-awesome-code:before {
	content: "\f196";
  }
  .icon-line-awesome-chain:before {
	content: "\f179";
  }
  .icon-line-awesome-chevron-circle-right:before {
	content: "\f182";
  }
  .icon-line-awesome-dollar:before {
	content: "\f1bb";
  }
  .icon-line-awesome-crosshairs:before {
	content: "\f1ac";
  }
  .icon-line-awesome-gg:before {
	content: "\f210";
  }
  .icon-line-awesome-legal:before {
	content: "\f25e";
  }
  .icon-line-awesome-angle-double-left:before {
	content: "\f10d";
  }
  .icon-line-awesome-flash:before {
	content: "\f1fa";
  }
  .icon-line-awesome-foursquare:before {
	content: "\f206";
  }
  .icon-line-awesome-hourglass-2:before {
	content: "\f23c";
  }
  .icon-line-awesome-hourglass-3:before {
	content: "\f23d";
  }
  .icon-line-awesome-th:before {
	content: "\f339";
  }
  .icon-line-awesome-angle-left:before {
	content: "\f111";
  }
  .icon-line-awesome-recycle:before {
	content: "\f2d2";
  }
  .icon-line-awesome-file-code-o:before {
	content: "\f1e2";
  }
  .icon-line-awesome-thumb-tack:before {
	content: "\f33c";
  }
  .icon-line-awesome-fax:before {
	content: "\f1dc";
  }
  .icon-line-awesome-xing-square:before {
	content: "\f383";
  }
  .icon-line-awesome-hospital-o:before {
	content: "\f238";
  }
  .icon-line-awesome-volume-up:before {
	content: "\f375";
  }
  .icon-line-awesome-spoon:before {
	content: "\f312";
  }
  .icon-line-awesome-facebook:before {
	content: "\f1d7";
  }
  .icon-line-awesome-cloud-download:before {
	content: "\f193";
  }
  .icon-line-awesome-trophy:before {
	content: "\f351";
  }
  .icon-line-awesome-caret-up:before {
	content: "\f16c";
  }
  .icon-line-awesome-magic:before {
	content: "\f276";
  }
  .icon-line-awesome-hourglass-o:before {
	content: "\f240";
  }
  .icon-line-awesome-balance-scale:before {
	content: "\f12b";
  }
  .icon-line-awesome-upload:before {
	content: "\f362";
  }
  .icon-line-awesome-magnet:before {
	content: "\f277";
  }
  .icon-line-awesome-adjust:before {
	content: "\f101";
  }
  .icon-line-awesome-subway:before {
	content: "\f329";
  }
  .icon-line-awesome-chevron-down:before {
	content: "\f184";
  }
  .icon-line-awesome-location-arrow:before {
	content: "\f270";
  }
  .icon-line-awesome-check-circle:before {
	content: "\f17c";
  }
  .icon-line-awesome-arrow-down:before {
	content: "\f11f";
  }
  .icon-line-awesome-bicycle:before {
	content: "\f144";
  }
  .icon-line-awesome-instagram:before {
	content: "\f24d";
  }
  .icon-line-awesome-caret-square-o-up:before {
	content: "\f16b";
  }
  .icon-line-awesome-crop:before {
	content: "\f1ab";
  }
  .icon-line-awesome-external-link:before {
	content: "\f1d2";
  }
  .icon-line-awesome-arrow-circle-down:before {
	content: "\f117";
  }
  .icon-line-awesome-paper-plane:before {
	content: "\f2a8";
  }
  .icon-line-awesome-meanpath:before {
	content: "\f287";
  }
  .icon-line-awesome-long-arrow-left:before {
	content: "\f273";
  }
  .icon-line-awesome-download:before {
	content: "\f1bd";
  }
  .icon-line-awesome-bold:before {
	content: "\f14b";
  }
  .icon-line-awesome-caret-down:before {
	content: "\f165";
  }
  .icon-line-awesome-chevron-left:before {
	content: "\f185";
  }
  .icon-line-awesome-font:before {
	content: "\f202";
  }
  .icon-line-awesome-pinterest:before {
	content: "\f2ba";
  }
  .icon-line-awesome-cart-plus:before {
	content: "\f16e";
  }
  .icon-line-awesome-folder-open-o:before {
	content: "\f201";
  }
  .icon-line-awesome-tachometer:before {
	content: "\f32f";
  }
  .icon-line-awesome-creative-commons:before {
	content: "\f1a9";
  }
  .icon-line-awesome-clipboard:before {
	content: "\f18e";
  }
  .icon-line-awesome-bar-chart:before {
	content: "\f12e";
  }
  .icon-line-awesome-reply:before {
	content: "\f2da";
  }
  .icon-line-awesome-hourglass-half:before {
	content: "\f23f";
  }
  .icon-line-awesome-graduation-cap:before {
	content: "\f21e";
  }
  .icon-line-awesome-info-circle:before {
	content: "\f24b";
  }
  .icon-line-awesome-exchange:before {
	content: "\f1cc";
  }
  .icon-line-awesome-hand-o-up:before {
	content: "\f228";
  }
  .icon-line-awesome-pause:before {
	content: "\f2ad";
  }
  .icon-line-awesome-paypal:before {
	content: "\f2af";
  }
  .icon-line-awesome-github-square:before {
	content: "\f217";
  }
  .icon-line-awesome-search:before {
	content: "\f2eb";
  }
  .icon-line-awesome-flask:before {
	content: "\f1fb";
  }
  .icon-line-awesome-pinterest-square:before {
	content: "\f2bc";
  }
  .icon-line-awesome-fast-backward:before {
	content: "\f1da";
  }
  .icon-line-awesome-code-fork:before {
	content: "\f197";
  }
  .icon-line-awesome-tasks:before {
	content: "\f332";
  }
  .icon-line-awesome-firefox:before {
	content: "\f1f6";
  }
  .icon-line-awesome-apple:before {
	content: "\f114";
  }
  .icon-line-awesome-gamepad:before {
	content: "\f209";
  }
  .icon-line-awesome-cc-stripe:before {
	content: "\f176";
  }
  .icon-line-awesome-quote-left:before {
	content: "\f2cd";
  }
  .icon-line-awesome-user-times:before {
	content: "\f368";
  }
  .icon-line-awesome-plus-square-o:before {
	content: "\f2c5";
  }
  .icon-line-awesome-eye-slash:before {
	content: "\f1d5";
  }
  .icon-line-awesome-trello:before {
	content: "\f34f";
  }
  .icon-line-awesome-dribbble:before {
	content: "\f1be";
  }
  .icon-line-awesome-user-secret:before {
	content: "\f367";
  }
  .icon-line-awesome-cloud:before {
	content: "\f192";
  }
  .icon-line-awesome-usd:before {
	content: "\f363";
  }
  .icon-line-awesome-eye:before {
	content: "\f1d4";
  }
  .icon-line-awesome-certificate:before {
	content: "\f178";
  }
  .icon-line-awesome-500px:before {
	content: "\f100";
  }
  .icon-line-awesome-camera:before {
	content: "\f162";
  }
  .icon-line-awesome-music:before {
	content: "\f299";
  }
  .icon-line-awesome-gg-circle:before {
	content: "\f211";
  }
  .icon-line-awesome-sort:before {
	content: "\f306";
  }
  .icon-line-awesome-pencil:before {
	content: "\f2b0";
  }
  .icon-line-awesome-bookmark-o:before {
	content: "\f150";
  }
  .icon-line-awesome-diamond:before {
	content: "\f1b9";
  }
  .icon-line-awesome-share:before {
	content: "\f2f0";
  }
  .icon-line-awesome-hourglass-1:before {
	content: "\f23b";
  }
  .icon-line-awesome-envelope:before {
	content: "\f1c6";
  }
  .icon-line-awesome-yahoo:before {
	content: "\f386";
  }
  .icon-line-awesome-glass:before {
	content: "\f218";
  }
  .icon-line-awesome-flag:before {
	content: "\f1f7";
  }
  .icon-line-awesome-train:before {
	content: "\f349";
  }
  .icon-line-awesome-bullhorn:before {
	content: "\f156";
  }
  .icon-line-awesome-folder:before {
	content: "\f1fe";
  }
  .icon-line-awesome-outdent:before {
	content: "\f2a5";
  }
  .icon-line-awesome-stumbleupon:before {
	content: "\f326";
  }
  .icon-line-awesome-i-cursor:before {
	content: "\f244";
  }
  .icon-line-awesome-car:before {
	content: "\f164";
  }
  .icon-line-awesome-file-excel-o:before {
	content: "\f1e3";
  }
  .icon-line-awesome-arrow-circle-o-left:before {
	content: "\f11a";
  }
  .icon-line-awesome-paragraph:before {
	content: "\f2ab";
  }
  .icon-line-awesome-file-photo-o:before {
	content: "\f1e8";
  }
  .icon-line-awesome-y-combinator:before {
	content: "\f384";
  }
  .icon-line-awesome-cab:before {
	content: "\f15a";
  }
  .icon-line-awesome-male:before {
	content: "\f27b";
  }
  .icon-line-awesome-history:before {
	content: "\f236";
  }
  .icon-line-awesome-h-square:before {
	content: "\f221";
  }
  .icon-line-awesome-heart:before {
	content: "\f233";
  }
  .icon-line-awesome-sort-amount-desc:before {
	content: "\f30a";
  }
  .icon-line-awesome-search-plus:before {
	content: "\f2ed";
  }
  .icon-line-awesome-life-ring:before {
	content: "\f264";
  }
  .icon-line-awesome-lock:before {
	content: "\f271";
  }
  .icon-line-awesome-git-square:before {
	content: "\f214";
  }
  .icon-line-awesome-mouse-pointer:before {
	content: "\f298";
  }
  .icon-line-awesome-mail-forward:before {
	content: "\f278";
  }
  .icon-line-awesome-sign-in:before {
	content: "\f2fb";
  }
  .icon-line-awesome-odnoklassniki-square:before {
	content: "\f2a0";
  }
  .icon-line-awesome-tag:before {
	content: "\f330";
  }
  .icon-line-awesome-align-justify:before {
	content: "\f104";
  }
  .icon-line-awesome-level-up:before {
	content: "\f261";
  }
  .icon-line-awesome-chevron-circle-down:before {
	content: "\f180";
  }
  .icon-line-awesome-filter:before {
	content: "\f1f3";
  }
  .icon-line-awesome-sticky-note-o:before {
	content: "\f322";
  }
  .icon-line-awesome-moon-o:before {
	content: "\f295";
  }
  .icon-line-awesome-comments-o:before {
	content: "\f1a2";
  }
  .icon-line-awesome-lastfm:before {
	content: "\f25a";
  }
  .icon-line-awesome-pagelines:before {
	content: "\f2a6";
  }
  .icon-line-awesome-list-ul:before {
	content: "\f26f";
  }
  .icon-line-awesome-file-word-o:before {
	content: "\f1ef";
  }
  .icon-line-awesome-map:before {
	content: "\f27c";
  }
  .icon-line-awesome-object-ungroup:before {
	content: "\f29e";
  }
  .icon-line-awesome-briefcase:before {
	content: "\f151";
  }
  .icon-line-awesome-stop:before {
	content: "\f323";
  }
  .icon-line-awesome-clone:before {
	content: "\f190";
  }
  .icon-line-awesome-plane:before {
	content: "\f2bd";
  }
  .icon-line-awesome-check-square:before {
	content: "\f17e";
  }
  .icon-line-awesome-unlink:before {
	content: "\f35f";
  }
  .icon-line-awesome-github:before {
	content: "\f215";
  }
  .icon-line-awesome-step-backward:before {
	content: "\f31e";
  }
  .icon-line-awesome-wheelchair:before {
	content: "\f37b";
  }
  .icon-line-awesome-cutlery:before {
	content: "\f1b1";
  }
  .icon-line-awesome-microphone-slash:before {
	content: "\f28d";
  }
  .icon-line-awesome-user-plus:before {
	content: "\f366";
  }
  .icon-line-awesome-truck:before {
	content: "\f352";
  }
  .icon-line-awesome-wrench:before {
	content: "\f381";
  }
  .icon-line-awesome-ambulance:before {
	content: "\f108";
  }
  .icon-line-awesome-cc-visa:before {
	content: "\f177";
  }
  .icon-line-awesome-superscript:before {
	content: "\f32c";
  }
  .icon-line-awesome-tty:before {
	content: "\f354";
  }
  .icon-line-awesome-shield:before {
	content: "\f2f7";
  }
  .icon-line-awesome-user-md:before {
	content: "\f365";
  }
  .icon-line-awesome-hand-stop-o:before {
	content: "\f22f";
  }
  .icon-line-awesome-pie-chart:before {
	content: "\f2b7";
  }
  .icon-line-awesome-align-left:before {
	content: "\f105";
  }
  .icon-line-awesome-motorcycle:before {
	content: "\f297";
  }
  .icon-line-awesome-ticket:before {
	content: "\f341";
  }
  .icon-line-awesome-battery-half:before {
	content: "\f139";
  }
  .icon-line-awesome-spotify:before {
	content: "\f313";
  }
  .icon-line-awesome-dot-circle-o:before {
	content: "\f1bc";
  }
  .icon-line-awesome-facebook-square:before {
	content: "\f1d9";
  }
  .icon-line-awesome-group:before {
	content: "\f220";
  }
  .icon-line-awesome-angle-up:before {
	content: "\f113";
  }
  .icon-line-awesome-paperclip:before {
	content: "\f2aa";
  }
  .icon-line-awesome-deviantart:before {
	content: "\f1b8";
  }
  .icon-line-awesome-file-audio-o:before {
	content: "\f1e1";
  }
  .icon-line-awesome-eur:before {
	content: "\f1ca";
  }
  .icon-line-awesome-coffee:before {
	content: "\f199";
  }
  .icon-line-awesome-times-circle-o:before {
	content: "\f344";
  }
  .icon-line-awesome-weixin:before {
	content: "\f379";
  }
  .icon-line-awesome-yc:before {
	content: "\f387";
  }
  .icon-line-awesome-y-combinator-square:before {
	content: "\f385";
  }
  .icon-line-awesome-internet-explorer:before {
	content: "\f24f";
  }
  .icon-line-awesome-file-video-o:before {
	content: "\f1ee";
  }
  .icon-line-awesome-angle-double-up:before {
	content: "\f10f";
  }
  .icon-line-awesome-safari:before {
	content: "\f2e8";
  }
  .icon-line-awesome-mail-reply-all:before {
	content: "\f27a";
  }
  .icon-line-awesome-bank:before {
	content: "\f12d";
  }
  .icon-line-awesome-commenting-o:before {
	content: "\f1a0";
  }
  .icon-line-awesome-black-tie:before {
	content: "\f14a";
  }
  .icon-line-awesome-youtube-play:before {
	content: "\f38c";
  }
  .icon-line-awesome-edit:before {
	content: "\f1c1";
  }
  .icon-line-awesome-caret-square-o-right:before {
	content: "\f16a";
  }
  .icon-line-awesome-arrows:before {
	content: "\f123";
  }
  .icon-line-awesome-refresh:before {
	content: "\f2d5";
  }
  .icon-line-awesome-file-o:before {
	content: "\f1e6";
  }
  .icon-line-awesome-battery-0:before {
	content: "\f132";
  }
  .icon-line-awesome-battery-3:before {
	content: "\f135";
  }
  .icon-line-awesome-battery-2:before {
	content: "\f134";
  }
  .icon-line-awesome-battery-4:before {
	content: "\f136";
  }
  .icon-line-awesome-battery-three-quarters:before {
	content: "\f13b";
  }
  .icon-line-awesome-square:before {
	content: "\f314";
  }
  .icon-line-awesome-ellipsis-v:before {
	content: "\f1c4";
  }
  .icon-line-awesome-list:before {
	content: "\f26c";
  }
  .icon-line-awesome-globe:before {
	content: "\f219";
  }
  .icon-line-awesome-strikethrough:before {
	content: "\f325";
  }
  .icon-line-awesome-comment-o:before {
	content: "\f19e";
  }
  .icon-line-awesome-hand-pointer-o:before {
	content: "\f22b";
  }
  .icon-line-awesome-unlock:before {
	content: "\f360";
  }
  .icon-line-awesome-arrow-left:before {
	content: "\f120";
  }
  .icon-line-awesome-scissors:before {
	content: "\f2ea";
  }
  .icon-line-awesome-ellipsis-h:before {
	content: "\f1c3";
  }
  .icon-line-awesome-exclamation:before {
	content: "\f1cd";
  }
  .icon-line-awesome-try:before {
	content: "\f353";
  }
  .icon-line-awesome-flag-o:before {
	content: "\f1f9";
  }
  .icon-line-awesome-battery-quarter:before {
	content: "\f13a";
  }
  .icon-line-awesome-ra:before {
	content: "\f2cf";
  }
  .icon-line-awesome-print:before {
	content: "\f2c7";
  }
  .icon-line-awesome-check-circle-o:before {
	content: "\f17d";
  }
  .icon-line-awesome-houzz:before {
	content: "\f242";
  }
  .icon-line-awesome-lemon-o:before {
	content: "\f25f";
  }
  .icon-line-awesome-umbrella:before {
	content: "\f35b";
  }
  .icon-line-awesome-bell-o:before {
	content: "\f141";
  }
  .icon-line-awesome-cc-diners-club:before {
	content: "\f171";
  }
  .icon-line-awesome-undo:before {
	content: "\f35d";
  }
  .icon-line-awesome-shekel:before {
	content: "\f2f5";
  }
  .icon-line-awesome-rebel:before {
	content: "\f2d1";
  }
  .icon-line-awesome-venus:before {
	content: "\f36a";
  }
  .icon-line-awesome-soundcloud:before {
	content: "\f30f";
  }
  .icon-line-awesome-thumbs-o-down:before {
	content: "\f33e";
  }
  .icon-line-awesome-bar-chart-o:before {
	content: "\f12f";
  }
  .icon-line-awesome-indent:before {
	content: "\f248";
  }
  .icon-line-awesome-language:before {
	content: "\f258";
  }
  .icon-line-awesome-circle-thin:before {
	content: "\f18d";
  }
  .icon-line-awesome-drupal:before {
	content: "\f1c0";
  }
  .icon-line-awesome-headphones:before {
	content: "\f232";
  }
  .icon-line-awesome-cc-mastercard:before {
	content: "\f174";
  }
  .icon-line-awesome-times:before {
	content: "\f342";
  }
  .icon-line-awesome-buysellads:before {
	content: "\f159";
  }
  .icon-line-awesome-fonticons:before {
	content: "\f203";
  }
  .icon-line-awesome-sort-asc:before {
	content: "\f30b";
  }
  .icon-line-awesome-folder-open:before {
	content: "\f200";
  }
  .icon-line-awesome-heartbeat:before {
	content: "\f235";
  }
  .icon-line-awesome-arrows-v:before {
	content: "\f126";
  }
  .icon-line-awesome-phone-square:before {
	content: "\f2b4";
  }
  .icon-line-awesome-text-height:before {
	content: "\f337";
  }
  .icon-line-awesome-linkedin-square:before {
	content: "\f26a";
  }
  .icon-line-awesome-delicious:before {
	content: "\f1b6";
  }
  .icon-line-awesome-qrcode:before {
	content: "\f2ca";
  }
  .icon-line-awesome-arrows-h:before {
	content: "\f125";
  }
  .icon-line-awesome-mercury:before {
	content: "\f28b";
  }
  .icon-line-awesome-text-width:before {
	content: "\f338";
  }
  .icon-line-awesome-envelope-o:before {
	content: "\f1c7";
  }
  .icon-line-awesome-rss-square:before {
	content: "\f2e4";
  }
  .icon-line-awesome-bookmark:before {
	content: "\f14f";
  }
  .icon-line-awesome-automobile:before {
	content: "\f129";
  }
  .icon-line-awesome-bitcoin:before {
	content: "\f149";
  }
  .icon-line-awesome-behance:before {
	content: "\f13e";
  }
  .icon-line-awesome-star-half-o:before {
	content: "\f31a";
  }
  .icon-line-awesome-keyboard-o:before {
	content: "\f256";
  }
  .icon-line-awesome-gear:before {
	content: "\f20c";
  }
  .icon-line-awesome-minus-circle:before {
	content: "\f28f";
  }
  .icon-line-awesome-hotel:before {
	content: "\f239";
  }
  .icon-line-awesome-sort-numeric-asc:before {
	content: "\f30d";
  }
  .icon-line-awesome-share-alt:before {
	content: "\f2f1";
  }
  .icon-line-awesome-shirtsinbulk:before {
	content: "\f2f9";
  }
  .icon-line-awesome-viacoin:before {
	content: "\f36d";
  }
  .icon-line-awesome-digg:before {
	content: "\f1ba";
  }
  .icon-line-awesome-institution:before {
	content: "\f24e";
  }
  .icon-line-awesome-rss:before {
	content: "\f2e3";
  }
  .icon-line-awesome-television:before {
	content: "\f334";
  }
  .icon-line-awesome-slack:before {
	content: "\f302";
  }
  .icon-line-awesome-folder-o:before {
	content: "\f1ff";
  }
  .icon-line-awesome-bed:before {
	content: "\f13c";
  }
  .icon-line-awesome-caret-square-o-down:before {
	content: "\f168";
  }
  .icon-line-awesome-paper-plane-o:before {
	content: "\f2a9";
  }
  .icon-line-awesome-circle-o-notch:before {
	content: "\f18c";
  }
  .icon-line-awesome-medkit:before {
	content: "\f289";
  }
  .icon-line-awesome-file-zip-o:before {
	content: "\f1f0";
  }
  .icon-line-awesome-calendar-minus-o:before {
	content: "\f15e";
  }
  .icon-line-awesome-tencent-weibo:before {
	content: "\f335";
  }
  .icon-line-awesome-navicon:before {
	content: "\f29a";
  }
  .icon-line-awesome-file-archive-o:before {
	content: "\f1e0";
  }
  .icon-line-awesome-share-alt-square:before {
	content: "\f2f2";
  }
  .icon-line-awesome-file-movie-o:before {
	content: "\f1e5";
  }
  .icon-line-awesome-building-o:before {
	content: "\f155";
  }
  .icon-line-awesome-sort-alpha-desc:before {
	content: "\f308";
  }
  .icon-line-awesome-map-signs:before {
	content: "\f280";
  }
  .icon-line-awesome-long-arrow-right:before {
	content: "\f274";
  }
  .icon-line-awesome-microphone:before {
	content: "\f28c";
  }
  .icon-line-awesome-calendar-check-o:before {
	content: "\f15d";
  }
  .icon-line-awesome-play-circle:before {
	content: "\f2bf";
  }
  .icon-line-awesome-github-alt:before {
	content: "\f216";
  }
  .icon-line-awesome-file-sound-o:before {
	content: "\f1eb";
  }
  .icon-line-awesome-play:before {
	content: "\f2be";
  }
  .icon-line-awesome-hand-o-down:before {
	content: "\f225";
  }
  .icon-line-awesome-hand-rock-o:before {
	content: "\f22c";
  }
  .icon-line-awesome-cc-jcb:before {
	content: "\f173";
  }
  .icon-line-awesome-compress:before {
	content: "\f1a4";
  }
  .icon-line-awesome-pencil-square-o:before {
	content: "\f2b2";
  }
  .icon-line-awesome-google-plus-square:before {
	content: "\f21c";
  }
  .icon-line-awesome-angle-right:before {
	content: "\f112";
  }
  .icon-line-awesome-rotate-left:before {
	content: "\f2e0";
  }
  .icon-line-awesome-forumbee:before {
	content: "\f204";
  }
  .icon-line-awesome-eject:before {
	content: "\f1c2";
  }
  .icon-line-awesome-mobile:before {
	content: "\f292";
  }
  .icon-line-awesome-hourglass-end:before {
	content: "\f23e";
  }
  .icon-line-awesome-trash-o:before {
	content: "\f34d";
  }
  .icon-line-awesome-star-o:before {
	content: "\f31b";
  }
  .icon-line-awesome-floppy-o:before {
	content: "\f1fd";
  }
  .icon-line-awesome-hand-grab-o:before {
	content: "\f223";
  }
  .icon-line-awesome-cc-discover:before {
	content: "\f172";
  }
  .icon-line-awesome-bomb:before {
	content: "\f14d";
  }
  .icon-line-awesome-random:before {
	content: "\f2d0";
  }
  .icon-line-awesome-fire-extinguisher:before {
	content: "\f1f5";
  }
  .icon-line-awesome-pencil-square:before {
	content: "\f2b1";
  }
  .icon-line-awesome-reddit-square:before {
	content: "\f2d4";
  }
  .icon-line-awesome-arrow-circle-o-down:before {
	content: "\f119";
  }
  .icon-line-awesome-caret-left:before {
	content: "\f166";
  }
  .icon-line-awesome-camera-retro:before {
	content: "\f163";
  }
  .icon-line-awesome-thumbs-o-up:before {
	content: "\f33f";
  }
  .icon-line-awesome-copy:before {
	content: "\f1a7";
  }
  .icon-line-awesome-copyright:before {
	content: "\f1a8";
  }
  .icon-line-awesome-terminal:before {
	content: "\f336";
  }
  .icon-line-awesome-twitter-square:before {
	content: "\f35a";
  }
  .icon-line-awesome-photo:before {
	content: "\f2b5";
  }
  .icon-line-awesome-circle:before {
	content: "\f18a";
  }
  .icon-line-awesome-columns:before {
	content: "\f19c";
  }
  .icon-line-awesome-sign-out:before {
	content: "\f2fc";
  }
  .icon-line-awesome-cube:before {
	content: "\f1ae";
  }
  .icon-line-awesome-mars-stroke-v:before {
	content: "\f285";
  }
  .icon-line-awesome-file-text:before {
	content: "\f1ec";
  }
  .icon-line-awesome-amazon:before {
	content: "\f107";
  }
  .icon-line-awesome-smile-o:before {
	content: "\f305";
  }
  .icon-line-awesome-compass:before {
	content: "\f1a3";
  }
  .icon-line-awesome-list-ol:before {
	content: "\f26e";
  }
  .icon-line-awesome-stumbleupon-circle:before {
	content: "\f327";
  }
  .icon-line-awesome-qq:before {
	content: "\f2c9";
  }
  .icon-line-awesome-yc-square:before {
	content: "\f388";
  }
  .icon-line-awesome-pied-piper:before {
	content: "\f2b8";
  }
  .icon-line-awesome-gears:before {
	content: "\f20d";
  }
  .icon-line-awesome-gbp:before {
	content: "\f20b";
  }
  .icon-line-awesome-ban:before {
	content: "\f12c";
  }
  .icon-line-awesome-fighter-jet:before {
	content: "\f1de";
  }
  .icon-line-awesome-space-shuttle:before {
	content: "\f310";
  }
  .icon-line-awesome-steam:before {
	content: "\f31c";
  }
  .icon-line-awesome-bars:before {
	content: "\f131";
  }
  .icon-line-awesome-lightbulb-o:before {
	content: "\f266";
  }
  .icon-line-awesome-map-pin:before {
	content: "\f27f";
  }
  .icon-line-awesome-circle-o:before {
	content: "\f18b";
  }
  .icon-line-awesome-contao:before {
	content: "\f1a6";
  }
  .icon-line-awesome-vine:before {
	content: "\f371";
  }
  .icon-line-awesome-align-center:before {
	content: "\f103";
  }
  .icon-line-awesome-rmb:before {
	content: "\f2dd";
  }
  .icon-line-awesome-bullseye:before {
	content: "\f157";
  }
  .icon-line-awesome-btc:before {
	content: "\f152";
  }
  .icon-line-awesome-close:before {
	content: "\f191";
  }
  .icon-line-awesome-calendar:before {
	content: "\f15c";
  }
  .icon-line-awesome-retweet:before {
	content: "\f2dc";
  }
  .icon-line-awesome-hourglass:before {
	content: "\f23a";
  }
  .icon-line-awesome-weibo:before {
	content: "\f378";
  }
  .icon-line-awesome-tags:before {
	content: "\f331";
  }
  .icon-line-awesome-minus-square-o:before {
	content: "\f291";
  }
  .icon-line-awesome-rouble:before {
	content: "\f2e2";
  }
  .icon-line-awesome-won:before {
	content: "\f37f";
  }
  .icon-line-awesome-subscript:before {
	content: "\f328";
  }
  .icon-line-awesome-flickr:before {
	content: "\f1fc";
  }
  .icon-line-awesome-cc-amex:before {
	content: "\f170";
  }
  .icon-line-awesome-reddit:before {
	content: "\f2d3";
  }
  .icon-line-awesome-times-circle:before {
	content: "\f343";
  }
  .icon-line-awesome-tripadvisor:before {
	content: "\f350";
  }
  .icon-line-awesome-sort-amount-asc:before {
	content: "\f309";
  }
  .icon-line-awesome-renren:before {
	content: "\f2d7";
  }
  .icon-line-awesome-arrow-circle-o-right:before {
	content: "\f11b";
  }
  .icon-line-awesome-pinterest-p:before {
	content: "\f2bb";
  }
  .icon-line-awesome-html5:before {
	content: "\f243";
  }
  .icon-line-awesome-key:before {
	content: "\f255";
  }
  .icon-line-awesome-picture-o:before {
	content: "\f2b6";
  }
  .icon-line-awesome-toggle-off:before {
	content: "\f346";
  }
  .icon-line-awesome-list-alt:before {
	content: "\f26d";
  }
  .icon-line-awesome-cubes:before {
	content: "\f1af";
  }
  .icon-line-awesome-tablet:before {
	content: "\f32e";
  }
  .icon-line-awesome-credit-card:before {
	content: "\f1aa";
  }
  .icon-line-awesome-minus:before {
	content: "\f28e";
  }
  .icon-line-awesome-unlock-alt:before {
	content: "\f361";
  }
  .icon-line-awesome-ils:before {
	content: "\f245";
  }
  .icon-line-awesome-cog:before {
	content: "\f19a";
  }
  .icon-line-awesome-arrow-right:before {
	content: "\f121";
  }
  .icon-line-awesome-cc-paypal:before {
	content: "\f175";
  }
  .icon-line-awesome-birthday-cake:before {
	content: "\f146";
  }
  .icon-line-awesome-comment:before {
	content: "\f19d";
  }
  .icon-line-awesome-bell:before {
	content: "\f140";
  }
  .icon-line-awesome-cc:before {
	content: "\f16f";
  }
  .icon-line-awesome-get-pocket:before {
	content: "\f20f";
  }
  .icon-line-awesome-bell-slash-o:before {
	content: "\f143";
  }
  .icon-line-awesome-header:before {
	content: "\f231";
  }
  .icon-line-awesome-linux:before {
	content: "\f26b";
  }
  .icon-line-awesome-table:before {
	content: "\f32d";
  }
  .icon-line-awesome-caret-square-o-left:before {
	content: "\f169";
  }
  .icon-line-awesome-spinner:before {
	content: "\f311";
  }
  .icon-line-awesome-thumbs-up:before {
	content: "\f340";
  }
  .icon-line-awesome-tint:before {
	content: "\f345";
  }
  .icon-line-awesome-connectdevelop:before {
	content: "\f1a5";
  }
  .icon-line-awesome-chrome:before {
	content: "\f189";
  }
  .icon-line-awesome-trademark:before {
	content: "\f348";
  }
  .icon-line-awesome-align-right:before {
	content: "\f106";
  }
  .icon-line-awesome-quote-right:before {
	content: "\f2ce";
  }
  .icon-line-awesome-long-arrow-down:before {
	content: "\f272";
  }
  .icon-line-awesome-beer:before {
	content: "\f13d";
  }
  .icon-line-awesome-th-list:before {
	content: "\f33b";
  }
  .icon-line-awesome-eraser:before {
	content: "\f1c9";
  }
  .icon-line-awesome-codepen:before {
	content: "\f198";
  }
  .icon-line-awesome-square-o:before {
	content: "\f315";
  }
  .icon-line-awesome-hourglass-start:before {
	content: "\f241";
  }
  .icon-line-awesome-ruble:before {
	content: "\f2e6";
  }
  .icon-line-awesome-fire:before {
	content: "\f1f4";
  }
  .icon-line-awesome-sellsy:before {
	content: "\f2ee";
  }
  .icon-line-awesome-fast-forward:before {
	content: "\f1db";
  }
  .icon-line-awesome-bell-slash:before {
	content: "\f142";
  }
  .icon-line-awesome-commenting:before {
	content: "\f19f";
  }
  .icon-line-awesome-inr:before {
	content: "\f24c";
  }
  .icon-line-awesome-child:before {
	content: "\f188";
  }
  .icon-line-awesome-file-text-o:before {
	content: "\f1ed";
  }
  .icon-line-awesome-mortar-board:before {
	content: "\f296";
  }
  .icon-line-awesome-vimeo:before {
	content: "\f36f";
  }
  .icon-line-awesome-dashboard:before {
	content: "\f1b2";
  }
  .icon-line-awesome-hand-o-right:before {
	content: "\f227";
  }
  .icon-line-awesome-object-group:before {
	content: "\f29d";
  }
  .icon-line-awesome-rotate-right:before {
	content: "\f2e1";
  }
  .icon-line-awesome-anchor:before {
	content: "\f109";
  }
  .icon-line-awesome-meh-o:before {
	content: "\f28a";
  }
  .icon-line-awesome-file-image-o:before {
	content: "\f1e4";
  }
  .icon-line-awesome-mars-stroke-h:before {
	content: "\f284";
  }
  .icon-line-awesome-calculator:before {
	content: "\f15b";
  }
  .icon-line-awesome-vk:before {
	content: "\f372";
  }
  .icon-line-awesome-odnoklassniki:before {
	content: "\f29f";
  }
  .icon-line-awesome-linkedin:before {
	content: "\f269";
  }
  .icon-line-awesome-jpy:before {
	content: "\f253";
  }
  .icon-line-awesome-turkish-lira:before {
	content: "\f357";
  }
  .icon-line-awesome-skype:before {
	content: "\f301";
  }
  .icon-line-awesome-envelope-square:before {
	content: "\f1c8";
  }
  .icon-line-awesome-ship:before {
	content: "\f2f8";
  }
  .icon-line-awesome-dashcube:before {
	content: "\f1b3";
  }
  .icon-line-awesome-optin-monster:before {
	content: "\f2a4";
  }
  .icon-line-awesome-paw:before {
	content: "\f2ae";
  }
  .icon-line-awesome-venus-double:before {
	content: "\f36b";
  }
  .icon-line-awesome-calendar-times-o:before {
	content: "\f161";
  }
  .icon-line-awesome-check:before {
	content: "\f17b";
  }
  .icon-line-awesome-sliders:before {
	content: "\f303";
  }
  .icon-line-awesome-stack-overflow:before {
	content: "\f317";
  }
  .icon-line-awesome-file-pdf-o:before {
	content: "\f1e7";
  }
  .icon-line-awesome-android:before {
	content: "\f10a";
  }
  .icon-line-awesome-stack-exchange:before {
	content: "\f316";
  }
  .icon-line-awesome-twitch:before {
	content: "\f358";
  }
  .icon-line-awesome-caret-right:before {
	content: "\f167";
  }
  .icon-line-awesome-dedent:before {
	content: "\f1b5";
  }
  .icon-line-awesome-tree:before {
	content: "\f34e";
  }
  .icon-line-awesome-gratipay:before {
	content: "\f21f";
  }
  .icon-line-awesome-map-marker:before {
	content: "\f27d";
  }
  .icon-line-awesome-slideshare:before {
	content: "\f304";
  }
  .icon-line-awesome-binoculars:before {
	content: "\f145";
  }
  .icon-line-awesome-sticky-note:before {
	content: "\f321";
  }
  .icon-line-awesome-sheqel:before {
	content: "\f2f6";
  }
  .icon-line-awesome-user:before {
	content: "\f364";
  }
  .icon-line-awesome-ioxhost:before {
	content: "\f250";
  }
  .icon-line-awesome-expand:before {
	content: "\f1d0";
  }
  .icon-line-awesome-euro:before {
	content: "\f1cb";
  }
  .icon-line-awesome-bitbucket-square:before {
	content: "\f148";
  }
  .icon-line-awesome-hand-paper-o:before {
	content: "\f229";
  }
  .icon-line-awesome-database:before {
	content: "\f1b4";
  }
  .icon-line-awesome-rupee:before {
	content: "\f2e7";
  }
  .icon-line-awesome-hacker-news:before {
	content: "\f222";
  }
  .icon-line-awesome-calendar-plus-o:before {
	content: "\f160";
  }
  .icon-line-awesome-hand-lizard-o:before {
	content: "\f224";
  }
  .icon-line-awesome-xing:before {
	content: "\f382";
  }
  .icon-line-awesome-youtube-square:before {
	content: "\f38d";
  }
  .icon-line-awesome-taxi:before {
	content: "\f333";
  }
  .icon-line-awesome-sort-desc:before {
	content: "\f30c";
  }
  .icon-line-awesome-rocket:before {
	content: "\f2df";
  }
  .icon-line-awesome-yen:before {
	content: "\f38a";
  }
  .icon-line-awesome-money:before {
	content: "\f294";
  }
  .icon-line-awesome-laptop:before {
	content: "\f259";
  }
  .icon-line-awesome-arrows-alt:before {
	content: "\f124";
  }
  .icon-line-awesome-underline:before {
	content: "\f35c";
  }
  .icon-line-awesome-google-plus:before {
	content: "\f21b";
  }
  .icon-line-awesome-cut:before {
	content: "\f1b0";
  }
  .icon-line-awesome-share-square-o:before {
	content: "\f2f4";
  }
  .icon-line-awesome-street-view:before {
	content: "\f324";
  }
  .icon-line-awesome-arrow-circle-up:before {
	content: "\f11e";
  }
  .icon-line-awesome-plus-square:before {
	content: "\f2c4";
  }
  .icon-line-awesome-desktop:before {
	content: "\f1b7";
  }
  .icon-line-awesome-expeditedssl:before {
	content: "\f1d1";
  }
  .icon-line-awesome-toggle-on:before {
	content: "\f347";
  }
  .icon-line-awesome-minus-square:before {
	content: "\f290";
  }
  .icon-line-awesome-adn:before {
	content: "\f102";
  }
  .icon-line-awesome-whatsapp:before {
	content: "\f37a";
  }
  .icon-line-awesome-save:before {
	content: "\f2e9";
  }
  .icon-line-awesome-puzzle-piece:before {
	content: "\f2c8";
  }
  .icon-line-awesome-css3:before {
	content: "\f1ad";
  }
  .icon-line-awesome-skyatlas:before {
	content: "\f300";
  }
  .icon-line-awesome-level-down:before {
	content: "\f260";
  }
  .icon-line-awesome-mobile-phone:before {
	content: "\f293";
  }
  .icon-line-awesome-check-square-o:before {
	content: "\f17f";
  }
  .icon-line-awesome-hand-spock-o:before {
	content: "\f22e";
  }
  .icon-line-awesome-leanpub:before {
	content: "\f25d";
  }
  .icon-line-awesome-arrow-circle-left:before {
	content: "\f118";
  }
  .icon-line-awesome-exclamation-triangle:before {
	content: "\f1cf";
  }
  .icon-line-awesome-gift:before {
	content: "\f212";
  }
  .icon-line-awesome-cogs:before {
	content: "\f19b";
  }
  .icon-line-awesome-signal:before {
	content: "\f2fd";
  }
  .icon-line-awesome-frown-o:before {
	content: "\f207";
  }
  .icon-line-awesome-opera:before {
	content: "\f2a3";
  }
  .icon-line-awesome-battery-empty:before {
	content: "\f137";
  }
  .icon-line-awesome-chevron-circle-left:before {
	content: "\f181";
  }
  .icon-line-awesome-university:before {
	content: "\f35e";
  }
  .icon-line-awesome-sitemap:before {
	content: "\f2ff";
  }
  .icon-line-awesome-external-link-square:before {
	content: "\f1d3";
  }
  .icon-line-awesome-google:before {
	content: "\f21a";
  }
  .icon-line-awesome-volume-off:before {
	content: "\f374";
  }
  .icon-line-awesome-twitter:before {
	content: "\f359";
  }
  .icon-line-awesome-battery-full:before {
	content: "\f138";
  }
  .icon-line-awesome-hand-o-left:before {
	content: "\f226";
  }
  .icon-line-awesome-phone:before {
	content: "\f2b3";
  }
  .icon-line-awesome-mars-double:before {
	content: "\f282";
  }
  .icon-line-awesome-maxcdn:before {
	content: "\f286";
  }
  .icon-line-awesome-hand-peace-o:before {
	content: "\f22a";
  }
  .icon-line-awesome-lastfm-square:before {
	content: "\f25b";
  }
  .icon-line-awesome-home:before {
	content: "\f237";
  }
  .icon-line-awesome-empire:before {
	content: "\f1c5";
  }
  .icon-line-awesome-server:before {
	content: "\f2ef";
  }
  .icon-line-awesome-search-minus:before {
	content: "\f2ec";
  }
  .icon-line-awesome-pied-piper-alt:before {
	content: "\f2b9";
  }
  .icon-line-awesome-leaf:before {
	content: "\f25c";
  }
  .icon-line-awesome-exclamation-circle:before {
	content: "\f1ce";
  }
  .icon-line-awesome-comments:before {
	content: "\f1a1";
  }
  .icon-line-awesome-cny:before {
	content: "\f195";
  }
  .icon-line-awesome-facebook-official:before {
	content: "\f1d8";
  }
  .icon-line-awesome-clock-o:before {
	content: "\f18f";
  }
  .icon-line-awesome-hand-scissors-o:before {
	content: "\f22d";
  }
  .icon-line-awesome-tumblr-square:before {
	content: "\f356";
  }
  .icon-line-awesome-rub:before {
	content: "\f2e5";
  }
  .icon-line-awesome-chevron-circle-up:before {
	content: "\f183";
  }
  .icon-line-awesome-opencart:before {
	content: "\f2a1";
  }
  .icon-line-awesome-barcode:before {
	content: "\f130";
  }
  .icon-line-awesome-vimeo-square:before {
	content: "\f370";
  }
  .icon-line-awesome-battery-1:before {
	content: "\f133";
  }
  .icon-line-awesome-arrow-circle-right:before {
	content: "\f11d";
  }
  .icon-line-awesome-bolt:before {
	content: "\f14c";
  }
  .icon-line-awesome-paste:before {
	content: "\f2ac";
  }
  .icon-line-awesome-hdd-o:before {
	content: "\f230";
  }
  .icon-line-awesome-plug:before {
	content: "\f2c1";
  }
  .icon-line-awesome-industry:before {
	content: "\f249";
  }
  .icon-line-awesome-map-o:before {
	content: "\f27e";
  }
  .icon-line-awesome-krw:before {
	content: "\f257";
  }
  .icon-line-awesome-joomla:before {
	content: "\f252";
  }
  .icon-line-awesome-sun-o:before {
	content: "\f32b";
  }
  .icon-line-awesome-plus:before {
	content: "\f2c2";
  }
  .icon-line-awesome-life-buoy:before {
	content: "\f263";
  }
  .icon-line-awesome-play-circle-o:before {
	content: "\f2c0";
  }
  .icon-line-awesome-mars-stroke:before {
	content: "\f283";
  }
  .icon-line-awesome-road:before {
	content: "\f2de";
  }
  .icon-line-awesome-volume-down:before {
	content: "\f373";
  }
  .icon-line-awesome-question-circle:before {
	content: "\f2cc";
  }
  .icon-line-awesome-image:before {
	content: "\f246";
  }
  .icon-line-awesome-angle-double-right:before {
	content: "\f10e";
  }
  .icon-line-awesome-reply-all:before {
	content: "\f2db";
  }
  .icon-line-awesome-inbox:before {
	content: "\f247";
  }
  .icon-line-awesome-female:before {
	content: "\f1dd";
  }
  .icon-line-awesome-gavel:before {
	content: "\f20a";
  }
  .icon-line-awesome-life-bouy:before {
	content: "\f262";
  }
  .icon-line-awesome-jsfiddle:before {
	content: "\f254";
  }
  .icon-line-awesome-git:before {
	content: "\f213";
  }
  .icon-line-awesome-share-square:before {
	content: "\f2f3";
  }
  .icon-line-awesome-question:before {
	content: "\f2cb";
  }
  .icon-line-awesome-wordpress:before {
	content: "\f380";
  }
  .icon-line-awesome-italic:before {
	content: "\f251";
  }
  .icon-line-awesome-forward:before {
	content: "\f205";
  }
  .icon-line-awesome-steam-square:before {
	content: "\f31d";
  }
  .icon-line-awesome-sort-numeric-desc:before {
	content: "\f30e";
  }
  .icon-line-awesome-video-camera:before {
	content: "\f36e";
  }
  .icon-line-awesome-thumbs-down:before {
	content: "\f33d";
  }
  .icon-line-awesome-medium:before {
	content: "\f288";
  }
  .icon-line-awesome-chevron-right:before {
	content: "\f186";
  }
  .icon-line-awesome-bus:before {
	content: "\f158";
  }
  .icon-line-awesome-registered:before {
	content: "\f2d6";
  }
  .icon-line-awesome-mars:before {
	content: "\f281";
  }
  .icon-line-awesome-angle-down:before {
	content: "\f110";
  }
  .icon-line-awesome-link:before {
	content: "\f268";
  }
  .icon-line-awe
  some-eyedropper:before {
	content: "\f1d6";
  }
  .icon-line-awesome-mail-reply:before {
	content: "\f279";
  }
  .icon-line-awesome-bug:before {
	content: "\f153";
  }
  .icon-line-awesome-angellist:before {
	content: "\f10b";
  }
  .icon-line-awesome-chain-broken:before {
	content: "\f17a";
  }
  .icon-line-awesome-info:before {
	content: "\f24a";
  }
  .icon-line-awesome-tumblr:before {
	content: "\f355";
  }
  .icon-line-awesome-line-chart:before {
	content: "\f267";
  }
  .icon-line-awesome-long-arrow-up:before {
	content: "\f275";
  }
  .icon-line-awesome-simplybuilt:before {
	content: "\f2fe";
  }
  .icon-line-awesome-trash:before {
	content: "\f34c";
  }
  .icon-line-awesome-paint-brush:before {
	content: "\f2a7";
  }
  .icon-line-awesome-windows:before {
	content: "\f37e";
  }
  .icon-line-awesome-calendar-o:before {
	content: "\f15f";
  }
  .icon-line-awesome-reorder:before {
	content: "\f2d8";
  }
  .icon-line-awesome-suitcase:before {
	content: "\f32a";
  }
  .icon-line-awesome-file-picture-o:before {
	content: "\f1e9";
  }
  .icon-line-awesome-arrow-circle-o-up:before {
	content: "\f11c";
  }
  .icon-line-awesome-arrow-up:before {
	content: "\f122";
  }
  .icon-line-awesome-venus-mars:before {
	content: "\f36c";
  }
  .icon-line-awesome-shopping-cart:before {
	content: "\f2fa";
  }
  .icon-line-awesome-files-o:before {
	content: "\f1f1";
  }
  .icon-line-awesome-th-large:before {
	content: "\f33a";
  }
  .icon-line-awesome-warning:before {
	content: "\f376";
  }
  .icon-line-awesome-at:before {
	content: "\f128";
  }
  .icon-line-awesome-file:before {
	content: "\f1df";
  }
  .icon-line-awesome-star-half:before {
	content: "\f319";
  }
  .icon-line-awesome-futbol-o:before {
	content: "\f208";
  }
  .icon-line-awesome-flag-checkered:before {
	content: "\f1f8";
  }
  .icon-line-awesome-genderless:before {
	content: "\f20e";
  }
  .icon-line-awesome-archive:before {
	content: "\f115";
  }
  .icon-line-awesome-film:before {
	content: "\f1f2";
  }
  .icon-line-awesome-power-off:before {
	content: "\f2c6";
  }
  .icon-line-awesome-heart-o:before {
	content: "\f234";
  }
  .icon-line-awesome-google-wallet:before {
	content: "\f21d";
  }
  .icon-line-awesome-book:before {
	content: "\f14e";
  }
  .icon-line-awesome-transgender:before {
	content: "\f34a";
  }
  .icon-line-awesome-cloud-upload:before {
	content: "\f194";
  }
  .icon-line-awesome-file-powerpoint-o:before {
	content: "\f1ea";
  }
  .icon-line-awesome-openid:before {
	content: "\f2a2";
  }
  .icon-line-awesome-repeat:before {
	content: "\f2d9";
  }
  .icon-line-awesome-star:before {
	content: "\f318";
  }
  .icon-line-awesome-users:before {
	content: "\f369";
  }
  .icon-line-awesome-transgender-alt:before {
	content: "\f34b";
  }
  .icon-line-awesome-asterisk:before {
	content: "\f127";
  }
  .icon-line-awesome-plus-circle:before {
	content: "\f2c3";
  }
  .icon-line-awesome-cart-arrow-down:before {
	content: "\f16d";
  }
  .icon-line-awesome-wechat:before {
	content: "\f377";
  }
  .icon-line-awesome-life-saver:before {
	content: "\f265";
  }
  .icon-line-awesome-dropbox:before {
	content: "\f1bf";
  }
  .icon-line-awesome-wikipedia-w:before {
	content: "\f37d";
  }
  .icon-line-awesome-newspaper-o:before {
	content: "\f29c";
  }
  .icon-line-awesome-building:before {
	content: "\f154";
  }
  .icon-line-awesome-bitbucket:before {
	content: "\f147";
  }
  .icon-line-awesome-yelp:before {
	content: "\f389";
  }
  .icon-line-awesome-neuter:before {
	content: "\f29b";
  }
  .icon-line-awesome-behance-square:before {
	content: "\f13f";
  }
  .icon-line-awesome-wifi:before {
	content: "\f37c";
  }
  .icon-line-awesome-youtube:before {
	content: "\f38b";
  }
  .icon-line-awesome-angle-double-down:before {
	content: "\f10c";
  }
  .icon-line-awesome-sort-alpha-asc:before {
	content: "\f307";
  }
  .icon-line-awesome-area-chart:before {
	content: "\f116";
  }
  .icon-line-awesome-chevron-up:before {
	content: "\f187";
  }
  .icon-line-awesome-stethoscope:before {
	content: "\f320";
  }
  .icon-line-awesome-step-forward:before {
	content: "\f31f";
  }
  .icon-line-awesome-backward:before {
	content: "\f12a";
  }
  
/* Star Rating */
.star-rating { display: inline-block; }

.star-rating .star {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 0;
	position: relative;
}

.star-rating .star.half:after,
.star-rating .star:before {
	font-family: "Material-Icons";
	content: "\e988";
	display: block;
	color: #febe42;
	font-size: 22px;
}

.star-rating .star.empty:before { color: #ddd; }

.rating:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.star-rating .star.half:before { color: #ddd; }
.star-rating .star.half:after {
	color: #febe42;
	position: absolute;
	top:0;
	width: 50%;
	display: block;
	height: 100%;
	overflow: hidden;
}

/* average rating before stars */
.star-rating:before { 
	content: attr(data-rating);
	float: left;
	border-radius: 4px;
	background-color: #febe42;
	color: #fff;
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
	padding: 5px 7px;
	position: relative;
	top: 1px;
	margin-right: 10px;
}

/* No stars */
.star-rating.no-stars .star { display: none; }
.star-rating.no-stars:before { margin-right: 0; }

