.m-widget24 {
    background-color: #fff;
    margin: 15px 0;
}

.m-widget24 .m-widget24__item .m-widget24__title {
    margin-left: 0;
    margin-top: 6.21rem;
    margin-bottom: 0.8rem;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: 600;
    width: 100%;
    text-align: right;
    padding-right: 1em;
}

.m-widget24 .m-widget24__item .m-widget24__number {
    margin-right: 2.8rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

.m-subsubheader {
    padding: 30px 30px 0 10px;
}